footer{
    .contact{width: 100%;display: flex;flex-direction: column;text-align: center;padding-bottom:32px;
        .icon{font-size: 24px;line-height: 1;margin-bottom: 12px;}
        a{color:#333;align-self: center;line-height: 1.3;}
    }
    .copy{display: flex;justify-content: center;text-align: center;border-top:1px solid #ccc;padding-block: 12px;}
}