header{padding-block:10px;
    .container{display: flex;align-items: center;flex-direction: row;justify-content: space-between;}
    .logo{display: flex;width: 180px;}
    .menu{display: none;font-size: 30px;cursor: pointer;}
    .navArea{display: flex;@extend .trans;}
    .close{display: none;position: fixed;top:0;right:0;cursor: pointer;font-size: 24px;width: 40px;height: 40px;line-height: 1;justify-content: center;align-items: center;z-index: 9999;background:red;color:#fff;}
    nav{display: flex;
        ul{display: flex;
            > li{display: flex;list-style: none;
                &:not(:last-child){margin-right: 32px;}
                > a{color:inherit;
                    &.active, &:hover, &:active, &:focus{color:var(--c2);}
                }
            }
        }
    }
    &.fixed{position: fixed;top:0;left:0;background: #fff;z-index: 9999;border-bottom:1px solid #ccc;
        .logo{width: 130px;}
    }
}
