@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?60365972');
    src: url('../fonts/fontello.eot?60365972#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff?60365972') format('woff'),
         url('../fonts/fontello.ttf?60365972') format('truetype'),
         url('../fonts/fontello.svg?60365972#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
   
    font-variant: normal;
    text-transform: none;
   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }