:root{
    --c1:#011f3d;
    --c2:#ff0001;
    --c3:#ffe701;
    --c4:#00BB98;
    --c5:#0c67c4;        

    --g1:#ccc;
    --g2:#eee;
}

%trans{transition: 0.3s cubic-bezier(0,0,1,0.1);-webkit-transition: 0.3s cubic-bezier(0,0,1,0.1);-moz-transition: 0.3s cubic-bezier(0,0,1,0.1);}
%fc{display: flex;flex-direction: column;}