@import "./fonts.scss";
@import "./variables.scss";
@import "./heading.scss";
@import "./buttons.scss";
@import "./grid.scss";

body{font-family: Arial, Helvetica, sans-serif;}

a{text-decoration: none;@extend .trans;}

b, strong{font-weight: bold;}

main{width:100%;overflow: hidden;@extend .fc;
    > *{width:100%;@extend .fc;}
    > .bg{background: var(--g2);}
    > *:not(header, footer){display: none;}
}

.links{display: flex;width: 100%;flex-wrap: wrap;gap:4px;
    > a{background: var(--g2);color: var(--bg1);padding:16px;border-left:4px solid var(--c3);}
}

@media (min-width:1400px){}

@media (max-width:1399px){}
@media (min-width:1200px) and (max-width:1399px){}

@media (max-width:1199px){}
@media (min-width:992px) and (max-width:1199px){}

@media (max-width:991px){}
@media (min-width:768px) and (max-width:991px){}

@media (max-width:767px){}
@media (min-width:576px) and (max-width:767px){}

@media (max-width:575px){}