footer
    .container
        .row
            .col-12
                a.logo(href="index.html")
                    img(src="./assets/images/logo.png" alt="logo")
            .col-12.col-sm-6.col-lg-8
                .row 
                    .col-12.col-sm-12.col-lg-6
                        .contact
                            i.icon &#xA002;
                            a(href="mailto:reservations@trekhops.com" target="_blank") reservations@trekhops.com
                        .contact
                            i.icon &#xA001;
                            a(href="tel:+1-860-294-8281" target="_blank") +1-860-294-8281
                            | , 
                            a(href="tel:+1-860-706-8510" target="_blank") +1-860-706-8510
                        .contact.lt
                            i.icon &#xA007;
                            a(href="mailto:reservations@trekhops.com" target="_blank")
                            | 3625 SR 419 Ste 2550, Winter Springs,
                            br
                            | Florida 32708, United States
                        h6.head Connect with us
                        .follow
                            a.icon(href="#" target="_blank") &#xA008;
                            a.icon(href="#" target="_blank") &#xA009;
                            a.icon(href="#" target="_blank") &#xA010;
                            a.icon(href="#" target="_blank") &#xA011;
                    .col-12.col-sm-12.col-lg-6
                        .fw
                            h6.head Global Sites
                            .sites
                                a.icon(href="index.html") &#xA012;
                        .fw
                            h6.head We Accept
                            img.logos(src="./assets/images/logos.png")
            .col-12.col-sm-6.col-lg-4
                h6.head Quick Links
                .links 
                    ul 
                        li 
                            a(href="#") Home
                        li 
                            a(href="#") About Us
                        li 
                            a(href="#") Contact Us
                        li 
                            a(href="#") FAQs
                        li 
                            a(href="#") Terms & Conditions
                        li 
                            a(href="#") Privacy Policy
                        li 
                            a(href="#") Sitemap
                    ul
                        li 
                            a(href="#") Refund Policy
                        li 
                            a(href="#") Disclaimer
                        li 
                            a(href="#") Testimonial
                        li 
                            a(href="#") Flights
                        li 
                            a(href="#") Hotels
                        li 
                            a(href="#") Blog
                
.copyright
    .container
        | Copyright &copy; 
        span 2024
        | - Trekhops. All rights reserved.