header
  .container
    .fw
      a.logo(href="index.html")
        img(src="./assets/images/logo.png" alt="logo")
      .navBar
        nav
          a.logo
            img(src="./assets/images/logo.png" alt="logo")
          ul
            li
              a(href="index.html") Home
            li
              a(href="#") About
            li
              a(href="#") Categories
              i.icon &#xA006;
              ul.dropDown
                li
                  a(href="#") Lorem ipsum dolor sit ameet
                li
                  a(href="#") Lorem ipsum dolor sit ameet
                li
                  a(href="#") Lorem ipsum dolor sit ameet
                li
                  a(href="#") Lorem ipsum dolor sit ameet
                li
                  a(href="#") Lorem ipsum dolor sit ameet
                li
                  a(href="#") Lorem ipsum dolor sit ameet
                li
                  a(href="#") Lorem ipsum dolor sit ameet
            li
              a(href="#") Tour packages
              i.icon &#xA006;
              ul.dropDown
                li
                  a(href="#") Lorem ipsum dolor sit ameet
                li
                  a(href="#") Lorem ipsum dolor sit ameet
                li
                  a(href="#") Lorem ipsum dolor sit ameet
                li
                  a(href="#") Lorem ipsum dolor sit ameet
                li
                  a(href="#") Lorem ipsum dolor sit ameet
                li
                  a(href="#") Lorem ipsum dolor sit ameet
                li
                  a(href="#") Lorem ipsum dolor sit ameet
            li
              a(href="#") Blog
            li
              a(href="#") Contact us
        i.icon.close &#xA005;
      a.number(href="tel:+18332568686" target="_blank")
        i.icon
          span &#xA001;
        | +1-833-256-8686
      i.icon.menu &#xA003;