doctype html
html
  head
    title Home || Webpage
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="./css/animation.min.css" type="text/css")
    link(rel="stylesheet" href="./css/owl.carousel.min.css" type="text/css")
    link(rel="stylesheet" href="./css/style.css" type="text/css")
  body
    main
      include ../include/header
      include ../include/slider
      include ../include/about
      include ../include/teatise
      include ../include/products
      include ../include/interest
      include ../include/gallery
      include ../include/media
      include ../include/press
      include ../include/footer
    script(src="js/jquery.min.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/wow.min.js")
    script(src="js/imageGallery1.js")
    script(src="js/imageGallery2.js")
    script(type="text/javascript" src="js/main.js")
