doctype html
html
    head
      include ./include/variables
    body
      include ./nav
      h1 use this webpack <br>
        | pug -w ./ -o ./ -P
      div Hi
      p Hello
      p #{domain} #{websiteName}
      include ./include/section