@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --c1:#0477BF;
  --c2:#FB8832;
  --c3:#f6f8ff;

  --c4:#97989F;
  --c5:#181A2A;
  --c6:#5D6B82;

  --border:#E8E8EA;
}

.trans{transition: 0.3s linear;-webkit-transition: 0.3s linear;-moz-transition: 0.3s linear;}
.dc{display: flex;justify-content: center;align-items: center;}
a{text-decoration: none;@extend .trans;}
img{max-width: 100%;}

@import "./include/header.scss";
@import "./include/footer.scss";
@import "./include/fonts.scss";

.fwp{display: flex;
  .fw{width: 100%;}
}

body{font-family: "Poppins", sans-serif;}
main {display:flex;flex-direction:column;overflow:hidden;
  > *{width:100%;}
}
@media (max-width:767px){
  :root{
    --bs-body-font-size:14px;
  }
}