doctype html
html 
    head 
        title Cover Page 
        link(rel="stylesheet" href="./css/style-screen.min.css" type="text/css")
        link(rel="stylesheet" href="./css/style-print.min.css" type="text/css" media="print")
    body 
        main 
            //- h1.settings Set page size a4 and default margin = 0.40 to left, right, bottom and top.
            section.cover
                div.top 
                    div.head
                        span.left CV<br>Summary
                        //- Cover Page/Summary
                        //- (Curriculum vitae) 
                        span.right 
                            i N 
                            i A
                    div.dp 
                        span
                            img(src="../../../masonry/img/14.jpg")
                div.bottom
                    .left 
                        span.name Loremn<br>Ipsu
                        span.post LO Ipsumdolor
                    .right
                        p.head Contact
                        p.text 
                            a(href="tel:+91-000-000-0000" target="_blank")
                                i.icon &#xa001;
                                |   +91-000-000-0000
                        p.text 
                            a(href="mailto:info@gmail.com" target="_blank")
                                i.icon &#xa002;
                                |   info@gmail.com
                        p.text 
                            a
                                i.icon &#xa003;
                                |   A-76, Street road, USA.
            section.details
                aside 
                    div.heading Heading here
                    p Lepellat nisi quos minus laudantium fuga pariatur culpa voluptate officiis iure perferendis dolor dolor nemo corporis aliquid.
                    p Leserunt a ad sint rem atque facilis qui eum ipsam maxime dolorem officia nulla ullam veritatis numquam quam ipsa ipsum placeat nemo ratione laudantium vitae vel quidem saepe facilis praesentium. Pariatur qui neque libero numquam beatae Veritatis consectetur consequuntur deleniti aliquam dolorem? Dolorem cum fugiat repellat nisi quos minus laudantium fuga pariatur culpa voluptate officiis iure perferendis dolor dolor nemo corporis aliquid.
                aside
                    div.heading Heading here
                    ul
                        li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            b Voluptatem possimus
                            |  ullam fugit consectetur deleniti ipsum necessitatibus itaque nam debitis nulla.
                        li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit maxime aperiam blanditiis harum eos pariatur rerum beatae modi dolorem odit 
                            b iste sapiente consectetur
                            |  voluptatibus, quaerat ipsum ratione ullam omnis.
                        li Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus ullam fugit consectetur deleniti ipsum necessitatibus itaque nam debitis nulla.
                        li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit maxime aperiam blanditiis harum eos pariatur rerum beatae modi dolorem odit iste sapiente consectetur voluptatibus, quaerat ipsum ratione ullam omnis.
                        li Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus ullam fugit consectetur deleniti ipsum necessitatibus itaque nam debitis nulla.
                        li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit maxime aperiam blanditiis harum eos pariatur rerum beatae modi dolorem odit iste sapiente consectetur voluptatibus, quaerat ipsum ratione ullam omnis.
                aside
                    div.heading Heading here
                    ul.skills 
                        li 
                            b Lorem ipsum dolor:- 
                            |  Lorem ipsum dolor sit amet consectetur adipisicing elit minima natus.
                        li 
                            b Lorem ipsum dolor:- 
                            |  Lorem ipsum dolor sit amet consectetur adipisicing elit minima natus.
                        li 
                            b Lorem ipsum dolor:- 
                            |  Lorem ipsum dolor sit amet consectetur adipisicing elit minima natus.
                        li 
                            b Lorem ipsum dolor:- 
                            |  Lorem ipsum dolor sit amet consectetur adipisicing elit minima natus.
                        li 
                            b Lorem ipsum dolor:- 
                            |  Lorem ipsum dolor sit amet consectetur adipisicing elit minima natus.
                        li 
                            b Lorem ipsum dolor:- 
                            |  Lorem ipsum dolor sit amet consectetur adipisicing elit minima natus.
                        li 
                            b Lorem ipsum dolor:- 
                            |  Lorem ipsum dolor sit amet consectetur adipisicing elit minima natus.
                        li 
                            b Lorem ipsum dolor:- 
                            |  Lorem ipsum dolor sit amet consectetur adipisicing elit minima natus.
                aside(style="page-break-after:always;")
                    div.heading.mb Heading here
                    table(class="two1")
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                aside 
                    div.heading Heading here...
                    .subDetails
                        div.sheading Heading here 1
                        p Leserunt a ad sint rem atque facilis qui eum ipsam maxime dolorem officia nulla ullam veritatis numquam quam ipsa ipsum placeat nemo ratione laudantium vitae vel quidem saepe facilis praesentium. Pariatur qui neque libero numquam beatae Veritatis consectetur consequuntur deleniti aliquam dolorem.
                        p.post Heading
                        ul
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                b Voluptatem possimus
                                |  ullam fugit consectetur deleniti ipsum necessitatibus itaque nam debitis nulla.
                            li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit maxime aperiam blanditiis harum eos pariatur rerum beatae modi dolorem odit 
                                b iste sapiente consectetur
                                |  voluptatibus, quaerat ipsum ratione ullam omnis.
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus ullam fugit consectetur deleniti ipsum necessitatibus itaque nam debitis nulla.
                            li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit maxime aperiam blanditiis harum eos pariatur rerum beatae modi dolorem odit iste sapiente consectetur voluptatibus, quaerat ipsum ratione ullam omnis.
                    .subDetails
                        div.sheading Heading here 2
                        p Leserunt a ad sint rem atque facilis qui eum ipsam maxime dolorem officia nulla ullam veritatis numquam quam ipsa ipsum placeat nemo ratione laudantium vitae vel quidem saepe facilis praesentium. Pariatur qui neque libero numquam beatae Veritatis consectetur consequuntur deleniti aliquam dolorem.
                        p.post Heading
                        ul
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                b Voluptatem possimus
                                |  ullam fugit consectetur deleniti ipsum necessitatibus itaque nam debitis nulla.
                            li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit maxime aperiam blanditiis harum eos pariatur rerum beatae modi dolorem odit 
                                b iste sapiente consectetur
                                |  voluptatibus, quaerat ipsum ratione ullam omnis.
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus ullam fugit consectetur deleniti ipsum necessitatibus itaque nam debitis nulla.
                            li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit maxime aperiam blanditiis harum eos pariatur rerum beatae modi dolorem odit iste sapiente consectetur voluptatibus, quaerat ipsum ratione ullam omnis.
                    .subDetails
                        div.sheading Heading here 3
                        p Leserunt a ad sint rem atque facilis qui eum ipsam maxime dolorem officia nulla ullam veritatis numquam quam ipsa ipsum placeat nemo ratione laudantium vitae vel quidem saepe facilis praesentium. Pariatur qui neque libero numquam beatae Veritatis consectetur consequuntur deleniti aliquam dolorem.
                        p.post Heading
                        ul
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                b Voluptatem possimus
                                |  ullam fugit consectetur deleniti ipsum necessitatibus itaque nam debitis nulla.
                            li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit maxime aperiam blanditiis harum eos pariatur rerum beatae modi dolorem odit 
                                b iste sapiente consectetur
                                |  voluptatibus, quaerat ipsum ratione ullam omnis.
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus ullam fugit consectetur deleniti ipsum necessitatibus itaque nam debitis nulla.
                            li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit maxime aperiam blanditiis harum eos pariatur rerum beatae modi dolorem odit iste sapiente consectetur voluptatibus, quaerat ipsum ratione ullam omnis.
                    .subDetails
                        div.sheading Heading here 4
                        p Leserunt a ad sint rem atque facilis qui eum ipsam maxime dolorem officia nulla ullam veritatis numquam quam ipsa ipsum placeat nemo ratione laudantium vitae vel quidem saepe facilis praesentium. Pariatur qui neque libero numquam beatae Veritatis consectetur consequuntur deleniti aliquam dolorem.
                        p.post Heading
                        ul
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                b Voluptatem possimus
                                |  ullam fugit consectetur deleniti ipsum necessitatibus itaque nam debitis nulla.
                            li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit maxime aperiam blanditiis harum eos pariatur rerum beatae modi dolorem odit 
                                b iste sapiente consectetur
                                |  voluptatibus, quaerat ipsum ratione ullam omnis.
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus ullam fugit consectetur deleniti ipsum necessitatibus itaque nam debitis nulla.
                            li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit maxime aperiam blanditiis harum eos pariatur rerum beatae modi dolorem odit iste sapiente consectetur voluptatibus, quaerat ipsum ratione ullam omnis.
                aside 
                    div.heading.mb Heading here
                    table(class="four")
                        tr.heads 
                            td asdf 
                            td asfd
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                            td asdf 
                            td asfd
                        tr.heads 
                            td asdf 
                            td asfd
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                            td asdf 
                            td asfd
                aside 
                    div.heading.mb Heading here
                    table(class="five")
                        tr.heads 
                            td asdf 
                            td asfd
                            td asdf 
                            td asfd
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                            td asdf 
                            td asfd
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                            td asdf 
                            td asfd
                            td asfd
                aside
                    div.heading Heading here
                    p.mb
                        b Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem dolore molestias sequi, voluptatibus temporibus placeat commodi! Nihil corrupti eveniet, doloremque in omnis, nulla quidem itaque rem distinctio, excepturi quaerat optio.
                    .tables
                        .odd
                            .fw 
                                table(class="two")
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                        .even 
                            .fw 
                                table(class="two")
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                        .odd
                            .fw 
                                table(class="two")
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                        .even 
                            .fw 
                                table(class="two")
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                                    tr 
                                        td asdf 
                                        td asfd
                .space1
                aside 
                    div.heading.mb Heading here
                    table(class="two1")
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                        tr 
                            td asdf 
                            td asfd
                aside
                    div.heading Heading here
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem dolore molestias sequi, voluptatibus temporibus placeat commodi! Nihil corrupti eveniet, doloremque in omnis, nulla quidem itaque rem distinctio, excepturi quaerat optio.
                ul.footer 
                    li Place: Lorem ipdum dolor
                    li Name here
                    li.fw Date:
                    
