doctype html
html
  head
    title Webpage
    meta(name="description", content="")
    meta(name="keywords", content="")
    include ../include/head
  body
    main
      include ../include/header
      section.section.bg(style="min-height:200vh;")
        .container Index Page
      include ../include/footer
    include ../include/scripts
