doctype html
html
  head
    title Webpage
    meta(name="description", content="")
    meta(name="keywords", content="")
    include ../include/head
  body
    main
      include ../include/header
      section.section.bg
        .container Index Page
      include ../include/footer
    include ../include/scripts
