doctype html
html(lang='en')
  head
    title Webpage
    meta(name="description", content="")
    meta(name="keywords", content="")
    include ../include/head
    link(rel="stylesheet" href="./assets/css/owl.carousel.min.css" type="text/css")
  body
    main
      include ../include/header
      section
        .container
          .row
            .col-xxl-1
              .fw Lorem Fw
            // cols
            .col-xxl-11 Lorem
            // cols
          // row
          .row
            .col-12
              .row
                .col-xxl-6
                  .row
                    .col-xxl-6 Lorem
                    // cols
                    .col-xxl-6 Lorem
                    // cols
                  // row
                // cols
                .col-xxl-6
                  .row
                    .col-xxl-6 Lorem
                    // cols
                    .col-xxl-6 Lorem
                    // cols
                  // row
                // cols
              // row
            // cols
            .col-xxl-6 Lorem
            // cols
            .col-xxl-6 Lorem
            // cols
          // row
          .row
            .col-xxl-2 Lorem
            // cols
            .col-xxl-10 Lorem
            // cols
          // row
          .row
            .col-xxl-3 Lorem
            // cols
            .col-xxl-9 Lorem
            // cols
          // row
          .row
            .col-xxl-4 Lorem
            // cols
            .col-xxl-8 Lorem
            // cols
          // row
          .row
            .col-xxl-5 Lorem
            // cols
            .col-xxl-7 Lorem
            // cols
          // row
          .row
            .col-xxl-6 Lorem
            // cols
            .col-xxl-6 Lorem
            // cols
          // row
          .row
            .col-xxl-7 Lorem
            // cols
            .col-xxl-5 Lorem
            // cols
          // row
          .row
            .col-xxl-8 Lorem
            // cols
            .col-xxl-4 Lorem
            // cols
          // row
          .row
            .col-xxl-1 Lorem
            // cols
          // row
          .row
            .col-xxl-9 Lorem
            // cols
            .col-xxl-3 Lorem
            // cols
          // row
          .row
            .col-xxl-10 Lorem
            // cols
            .col-xxl-2 Lorem
            // cols
          // row
          .row
            .col-xxl-11 Lorem
            // cols
            .col-xxl-1 Lorem
            // cols
          // row
          .row
            .col-12 Lorem
            // cols
          // row
        // container
      section.slider.owl-carousel.owl-theme.bg
        .item 1
        // item
        .item 2
        // item
        .item 3
        // item
      section.section
        .container
          hgroup
            h1 Norway
            p The land with the midnight sunss.
          hgroup.center
            h2 Norway
            p The land with the midnight sun1.
          div
            p Div &gt; P
            p Div &gt; P
          .row
            .col-12
              .row
                .col-12
                  .row
                    .col
                      .row
                        .col Lorem
        .container
          .row
            .col-12.col-sm-6
              h1 Layout 1
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque aperiam dolor quo distinctio ratione vitae. Eum consectetur nobis perferendis.
            // cols
            .col-12.col-sm-6
              img.img(src='./assets/images/logo.png', alt='')
            // cols
          // row
        // container
      section.section.bg
        .container
          .row
            .col-12
              h1 Layout 2
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque aperiam dolor quo distinctio ratione vitae. Eum consectetur nobis perferendis.
            // cols
          // row
        // container
      section.section.mbc
        .container
          hgroup.center
            h2 Section
            p The land with the midnight sun.
          .row
            .col-12
              .row
                .col-sm-6
                  h1 Seciton Layout
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque aperiam dolor quo distinctio ratione vitae. Eum consectetur nobis perferendis.
                // cols
                .col-sm-6
                  h1 Seciton Layout
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque aperiam dolor quo distinctio ratione vitae. Eum consectetur nobis perferendis.
                // cols
                .col-6
                  h1 Seciton Layout
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque aperiam dolor quo distinctio ratione vitae. Eum consectetur nobis perferendis.
                // cols
                .col-6
                  h1 Seciton Layout
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque aperiam dolor quo distinctio ratione vitae. Eum consectetur nobis perferendis.
                // cols
              // row
            // cols
          // row
        // container
      section.section.bg
        .container
          hgroup.center
            h2 Buttons
            p The land with the midnight sun.
          .btns.center
            a.btn1(href='#') Button 1
            a.btn2(href='#') Button 2
            a.btn3(href='#') Button 3
          .btns
            a.btn1(href='#') Button 1
            a.btn2(href='#') Button 2
            a.btn3(href='#') Button 3
      section.section
        .container
          .row
            .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
              h1.wow.bounce bounce
              h1.wow.flash flash
              h1.wow.pulse pulse
              h1.wow.rubberBand rubberBand
              h1.wow.shake shake
              h1.wow.headShake headShake
              h1.wow.swing swing
              h1.wow.tada tada
              h1.wow.wobble wobble
              h1.wow.jello jello
              h1.wow.bounceIn bounceIn
              h1.wow.bounceInDown bounceInDown
              h1.wow.bounceInLeft bounceInLeft
              h1.wow.bounceInRight bounceInRight
              h1.wow.bounceInUp bounceInUp
              h1.wow.bounceOut bounceOut
              h1.wow.bounceOutDown bounceOutDown
              h1.wow.bounceOutLeft bounceOutLeft
              h1.wow.bounceOutRight bounceOutRight
              h1.wow.bounceOutUp bounceOutUp
              h1.wow.fadeIn fadeIn
              h1.wow.fadeInDown fadeInDown
              h1.wow.fadeInDownBig fadeInDownBig
              h1.wow.fadeInLeft fadeInLeft
              h1.wow.fadeInLeftBig fadeInLeftBig
              h1.wow.fadeInRight fadeInRight
              h1.wow.fadeInRightBig fadeInRightBig
              h1.wow.fadeInUp fadeInUp
              h1.wow.fadeInUpBig fadeInUpBig
              h1.wow.fadeOut fadeOut
              h1.wow.fadeOutDown fadeOutDown
              h1.wow.fadeOutDownBig fadeOutDownBig
              h1.wow.fadeOutLeft fadeOutLeft
              h1.wow.fadeOutLeftBig fadeOutLeftBig
              h1.wow.fadeOutRight fadeOutRight
              h1.wow.fadeOutRightBig fadeOutRightBig
              h1.wow.fadeOutUp fadeOutUp
              h1.wow.fadeOutUpBig fadeOutUpBig
              h1.wow.flipInX flipInX
              h1.wow.flipInY flipInY
              h1.wow.flipOutX flipOutX
              h1.wow.flipOutY flipOutY
              h1.wow.lightSpeedIn lightSpeedIn
              h1.wow.lightSpeedOut lightSpeedOut
              h1.wow.rotateIn rotateIn
              h1.wow.rotateInDownLeft rotateInDownLeft
              h1.wow.rotateInDownRight rotateInDownRight
              h1.wow.rotateInUpLeft rotateInUpLeft
              h1.wow.rotateInUpRight rotateInUpRight
              h1.wow.rotateOut rotateOut
              h1.wow.rotateOutDownLeft rotateOutDownLeft
              h1.wow.rotateOutDownRight rotateOutDownRight
              h1.wow.rotateOutUpLeft rotateOutUpLeft
              h1.wow.rotateOutUpRight rotateOutUpRight
              h1.wow.hinge hinge
              h1.wow.jackInTheBox jackInTheBox
              h1.wow.rollIn rollIn
              h1.wow.rollOut rollOut
              h1.wow.zoomIn zoomIn
              h1.wow.zoomInDown zoomInDown
              h1.wow.zoomInLeft zoomInLeft
              h1.wow.zoomInRight zoomInRight
              h1.wow.zoomInUp zoomInUp
              h1.wow.zoomOut zoomOut
              h1.wow.zoomOutDown zoomOutDown
              h1.wow.zoomOutLeft zoomOutLeft
              h1.wow.zoomOutRight zoomOutRight
              h1.wow.zoomOutUp zoomOutUp
              h1.wow.slideInDown slideInDown
              h1.wow.slideInLeft slideInLeft
              h1.wow.slideInRight slideInRight
              h1.wow.slideInUp slideInUp
              h1.wow.slideOutDown slideOutDown
              h1.wow.slideOutLeft slideOutLeft
              h1.wow.slideOutRight slideOutRight
              h1.wow.slideOutUp slideOutUp
              h1.wow.heartBeat heartBeat
            // cols
          // row
        // container
    include ../include/footer
include ../include/scripts
script(src="assets/js/owl.carousel.min.js")
script.
    $(".slider").owlCarousel({
        autoplay:true,
        loop:true,
        margin:10,
        nav:true,
        responsive:{
            0:{
                items:2
            },
            768:{
                items:1
            },
            992:{
                items:2
            }
        }
    });