:root{
    --c1:#dfd6ad;
    --c2:#caa74f;
    --c3:#718290;
    --c4:#a2bd85;
    --c5:#74ab9e;
    --c6:#346892;
    --c7:#e0deb5;
    --c8:#9c926f;

    --g1:#ccc;
    --g2:#eee;

    --backTrans:rgba(0,0,0,0.75);
    --backTransWhite:rgba(225,225,225,0.5);
}

.trans{transition: 0.3s cubic-bezier(0,0,1,0.1);-webkit-transition: 0.3s cubic-bezier(0,0,1,0.1);-moz-transition: 0.3s cubic-bezier(0,0,1,0.1);}
.fc{display: flex;flex-direction: column;}