doctype html
html
  head
    title Webpage
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="./css/style.min.css" type="text/css")
    link(rel="stylesheet" href="./css/animation.min.css" type="text/css")
    link(rel="stylesheet" href="./css/owl.carousel.min.css" type="text/css")
  body
    main
      include ../include/header
      section.section.bg
        .container
          h4 npm install pug -g
            br
            | OR 
            br
            | npm install pug-cli -g
            br
            br
            | pug -w ./pug/pages -o ./ -P
      include ../include/footer
    script(src="js/jquery.min.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/wow.min.js")
    script(src="js/main.js" type="text/javascript")
    script(type="text/javascript").
      (function(){
        console.log("Lorem");
      });
