footer 
    .container
        .row 
            .col-12.col-lg-7.col-xl-8
                .fw 
                    a(href="/" class="logo")
                        img(src="./images/logo1.png")
                .links 
                    a(href="javascript:;") About
                    a(href="javascript:;") Careers
                    a(href="javascript:;") Press
                    a(href="javascript:;") Customer Care
                    a(href="javascript:;") Services
            .col-12.col-lg-5.col-xl-4.bottom
                form.formArea(action="#") 
                    h6.head Get the freshest news from us
                    .fw 
                        input.form-control(type="text" placeholder="Your email address...")
                        button Subscribe
        .row 
            .col-12
                hr
            .col-12.col-lg-7
                .links1
                    a(href="javascript:;") Terms & Conditions
                    span |
                    a(href="javascript:;") Privacy Policy
                    span |
                    a(href="javascript:;") Accessibility
                    span |
                    a(href="javascript:;") Legal
            .col-12.col-lg-5
                .copy Design with love &copy; avnishpoonia&nbsp;
                    span 2024
                    |  . All right reserved
        
        