header
    .container
        a.logo(href="/")
            img(src="./images/logo.png")
        .navigation
            .navArea
                .navBar
                    .mobHead
                        a.logoMob(href="/")
                            img(src="./images/logo.png")
                        i.icon &#xa009;
                    ul
                        li
                            a.active(href="javascript:;") Home
                        li
                            a(href="javascript:;") About me
                        li
                            a(href="javascript:;") Works
        a.menu.icon &#xa007;