- var siteUrl = "http://localhost/starting-webpage-grid/";
- var numberTel = "+10000000000";
- var number = "+1-000-000-0000";
- var email = "demo@gmail.com";
- var address = "25-Street Town lorem ipsum dolor, New York.";
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(rel="icon" type="image/x-icon" href="./assets/images/favicon.ico")
link(rel="icon" type="image/png" href="./assets/images/favicon.png")
link(rel="stylesheet" href="./assets/css/animation.min.css" type="text/css")
link(rel="stylesheet" href="./assets/css/style.min.css" type="text/css")