$black:#000;
$white:#fff;
$grey:#333;

:root{
	--font-size: 16px;
	--space: 24px;
}

*{padding:0;margin:0;box-sizing: border-box;}
body{font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 1.7;}
h1{font-size: calc(var(--font-size) * 3);margin-bottom:var(--space);}

@media (max-width: 575px){
	:root{
		--font-size: 12px;
		--space: 14px;
	}
}