@import "./common.scss";
.fw {width: 100%;}
%btn {
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
.btn1 {
    @extend %btn;
    background-color: #3498db;
}  
.btn2 {
    @extend %btn;
    background-color: #2ecc71;
}
main {
	@extend .fw;
    > *{width: 100%;}
    p {background: $black;color: $white;}
}

