doctype html
html
  head
    title Header
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="./css/common.min.css" type="text/css")
    link(rel="stylesheet" href="./css/header.min.css" type="text/css")
  body
    main
      include ../include/header
