doctype html
html
  head
    title Home || Webpage
    include ../include/head
  body
    main.home
      include ../include/header
      section.section.imageContent
        .container
            .row 
                .col-md-6 
                    figure.image.border
                        img(src="./images/slider/slide1.jpg", alt="")
                        figcaption Lorem ipsummm
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit ex repellat!
                .col-md-6
                    .content
                        h1 Lorem ipsum dolor sit amet consectetur atque incidunt facere ex amet doloremque
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit cum ducimus laboriosam esse dolore laudantium eos, eveniet veniam culpa placeat obcaecati non tempore ipsam aspernatur id ex. Labore cum fuga eos unde exercitationem molestias vero libero beatae nostrum modi sequi, tenetur et sit amet! Aperiam assumenda quibusdam quidem dolore fugiat.
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, dolorum. Explicabo sapiente expedita, deleniti iusto cum in officia similique totam magni nihil eaque aspernatur iure molestias porro ratione modi neque.
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem debitis, cumque aperiam tenetur dolores odit.
                        ul
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam esse expedita, delectus blanditiis unde voluptate repudiandae praesentium eveniet inventore impedit vel mollitia quibusdam vitae adipisci, amet nesciunt veritatis officiis nisi.
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam esse expedita, delectus blanditiis unde voluptate repudiandae praesentium eveniet inventore impedit vel mollitia quibusdam vitae adipisci, amet nesciunt veritatis officiis nisi.
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam esse expedita, delectus blanditiis unde voluptate repudiandae praesentium eveniet inventore impedit vel mollitia quibusdam vitae adipisci, amet nesciunt veritatis officiis nisi.
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem debitis, cumque aperiam tenetur dolores odit.
                        ol
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam esse expedita, delectus blanditiis unde voluptate repudiandae praesentium eveniet inventore impedit vel mollitia quibusdam vitae adipisci, amet nesciunt veritatis officiis nisi.
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam esse expedita, delectus blanditiis unde voluptate repudiandae praesentium eveniet inventore impedit vel mollitia quibusdam vitae adipisci, amet nesciunt veritatis officiis nisi.
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam esse expedita, delectus blanditiis unde voluptate repudiandae praesentium eveniet inventore impedit vel mollitia quibusdam vitae adipisci, amet nesciunt veritatis officiis nisi.
                        p.line Lorem ipsum dolor sit amet consectetur adipisicing elit maxime vel aliquam tempora laudantium molestias maiores nam corporis eum ad quo quos illo.
      include ../include/footerHome
    include ../include/scripts
