doctype html
html
  head
    title Home || Webpage
    include ../include/head
  body
    main#home
      include ../include/header
      include ../modules/slider
      include ../modules/about
      include ../modules/teatise
      include ../modules/interest
      include ../modules/products
      include ../modules/gallery
      include ../modules/media
      include ../modules/press
      include ../include/footer
    include ../include/scripts
