doctype html
html
  head
    title Home || Webpage
    include ../include/head
  body
    main#home
      include ../include/header
      include ../modules/media
      include ../modules/press
      include ../include/footerInner
    include ../include/scripts
