body{font-size: 12px;}
.space1{display: flex;height: 20px;width:100%;}
.details aside .heading{font-size: 18px;}
.details aside .sheading{font-size: 16px;}
.details aside table tr td:first-child{font-size: 12px;}
.details aside .tables > * .fw{background: transparent;}
.details{display: block;}
.settings{display: block;}