@font-face {
    font-family: regular;src: url(../fonts/font-family/Roboto-Regular.ttf);
}
@font-face {
    font-family: mediums;src: url(../fonts/font-family/Roboto-Medium.ttf);
}
@font-face {
    font-family: bolds;src: url(../fonts/font-family/Roboto-Bold.ttf);
}
@font-face {
    font-family: blacks;src: url(../fonts/font-family/Roboto-Black.ttf);
}