@media (min-width:1400px){}




@media (max-width:1399px){}
@media (min-width:1200px) and (max-width:1399px){
    header .fw {grid-template-columns: 20% 60% 20%;}
}




@media (max-width:1199px){
    body.back .fixNum{display: none;}
}
@media (min-width:992px) and (max-width:1199px){
    .form .field textarea {height:147px;min-height: 147px;}
}




@media (max-width:991px){}
@media (min-width:768px) and (max-width:991px){}
@media (min-width:576px) and (max-width:991px){
    hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {font-size: 36px;}
    hgroup p{font-size: 20px;}
}




@media (min-width:768px){
    main{
        .blt, .blb, .bltb{
            &::before, &::after{height: 80px;}
        }
        > .blt{margin-top: 80px;}
        > .blb{margin-bottom: 80px;}
        > .bltb{margin-block: 80px;}
    }
}
@media (max-width:767px){
    main{
        .blt, .blb, .bltb{
            &::before, &::after{height: 56px;}
        }
        > .blt{margin-top: 56px;}
        > .blb{margin-bottom: 56px;}
        > .bltb{margin-block: 56px;}
    }
    hgroup{text-align: center;}
    hgroup .btns{margin-top: 0;}
    .btns{justify-content: center;}
    .btns a, .btns button {padding: 12px 16px;}
    .unlist, .list {margin-bottom: 12px;}

    .contactPage .contactBox{gap:16px;}

    .fixNum{font-size: 14px;}
}
@media (min-width:576px) and (max-width:767px){}




@media (max-width:575px){
    hgroup {margin-bottom: 24px;}
    hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {font-size: 32px;}
    hgroup p{font-size: 18px;}
    
    .list>li::before, .unlist>li::before{top:2px;}

    .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {font-size: 20px;}
    .content h1:not(:first-child), .content h2:not(:first-child), .content h3:not(:first-child), .content h4:not(:first-child), .content h5:not(:first-child), .content h6:not(:first-child) {margin-top: 8px;}

    .faqs{padding: 24px 16px;}
    .faqs .faqsArea:not(:first-child){padding-top: 16px;}
    .faqs .faqsArea:not(:last-child){padding-bottom: 16px;}

    .contactPage .form{padding:24px 16px;}
    .contactPage .contactBox > li > a{padding: 16px;column-gap: 12px;}

    .note{font-size: 18px;}

    main > .bd hgroup ul > li > a, main > .bd hgroup ol > li > a{font-size: 16px;}
}
@media (max-width:460px){
    .contactPage .contactBox > li > a{column-gap: 12px;}
    .contactPage .contactBox > li .icon{width: 60px;height: 60px;}
    .contactPage .contactBox > li b{font-size: 18px;}
    .contactPage .contactBox > li span{font-size: 14px;}
}