@import "./common/fonts.scss";
@import "./common/variables.scss";
@import "./common/heading.scss";
@import "./common/buttons.scss";
@import "./grid.min.css";

@import "./modules/header.scss";
@import "./modules/footer.scss";

html {scroll-behavior: smooth;}
body{font-family: Arial, Helvetica, sans-serif;}

a, button{@extend %trans;text-decoration: none;}
b, strong{font-weight: bold;}
img{@extend %userSelect;}

body{color:var(--f1);
    &::before{width: 100%;height: 100%;position: fixed;top:0;left:100%;background: rgba(0,0,0,0.9);z-index: 9999;content:"";@extend %trans;}
    &.back{overflow: hidden;
        &::before{left:0;}
    }
}

main {width:100%;overflow:clip;@extend %fc;min-height: 100vh;min-height: -webkit-fill-available;min-height: 100dvh;
    > *{width:100%;@extend %fc;}
    > hr{height: 1px;border: none;background: var(--b1);}
    > .banner{background: url(../images/logo.png) no-repeat center center / cover;position: relative;
        &::before{width: 100%;height: 100%;content: "";position: absolute;top:0;left:0;background: rgba(0,0,0,0.75);}
        .container{position: relative;}
    }
    > .b1{background-color: var(--g1);}
    > .b2{background-color: var(--g2);}
    > .bgt{background-image: linear-gradient(to bottom, var(--g1), #fff 56px);}
    > .bgb{background-image: linear-gradient(to top, var(--g1), #fff 56px);}
    > .bgtb{background: linear-gradient(to bottom, var(--g1), #fff 56px) top no-repeat, linear-gradient(to top, var(--g1), #fff 56px) bottom no-repeat;background-size: 100% 56px;}
    .blt, .blb, .bltb{position: relative;
        &::before, &::after{width: 100%;background-color: var(--c2);position: absolute;left:0;}
    }
    > .blt::before{bottom: 100%;content:"";}
    > .blb::after{top: 100%;content:"";}
    > .bltb{
        &::before{bottom: 100%;content:"";}
        &::after{top: 100%;content:"";}
    }
    > .bd{background-color: var(--c1);
        hgroup{
            h1, h2, h3, h4, h5, h6, p{color:#fff;}
            ul, ol{margin-top: 8px;
                > li{display: flex;
                    > a{display: flex;align-items: center;gap:4px 12px;color:#fff;font-size:18px;text-align:left;line-height:1.2;
                        > img{width:32px;height: 32px;}
                    }
                }
            }
        }
    }
}
.unlist, .list{@extend %fc;margin-bottom:24px;
    > li{list-style: none;position: relative;padding-left:28px;
        &::before{width: 20px;height: 20px;border-radius: 100%;background: var(--c1);position: absolute;top:3px;left:0;color:#fff;font-size: 12px;@extend %center;font-weight: bold;}
        &:not(:last-child){margin-bottom: 12px;}
        b, strong{font-weight: bold;}
        > a{color:inherit;}
    }
}
.unlist > li::before{font-family: fontello;content:"\a021";}
.list{counter-reset:number;
    > li::before{counter-increment:number;content:counter(number);}
}

.content{@extend %fc;width: 100%;
    ul, ol{@extend %fc;}
    h1, h2, h3, h4, h5, h6 {font-size: 24px;font-weight: bold;line-height: 1.2;margin-bottom: 12px;color:var(--font);
        &:not(:first-child) {margin-top: 18px;}
    }
    p, ul, ol {margin-bottom: 12px;}
    i, em {font-style: italic;}
    u {text-decoration: underline;}
    b, strong {font-weight: bold;}
    a:not(.btns > a) {display: inline-block;color: var(--c1) !important;text-decoration: underline;
        &:hover, &:active, &:focus {text-decoration: none;}
    }
    ul{@extend .unlist;}
    ol{@extend .list;}
}

.breadcrumbs{padding-block: 12px;background:var(--g1);
    ul{width: 100%;display: flex;flex-wrap: wrap;padding: 0;margin: 0;gap: 4px 11px;
        > li{list-style: none;line-height: 1.1;display:flex;
            > a{color: var(--c1);font-weight: bold;}
            &:not(:last-child){position: relative;padding-right: 16px;
                &::after{font-family: fontello;content:"\a021";position: absolute;right: 0;}
            }
        }
    }
}

.faqs{width: 100%;@extend %fc;border: 1px solid var(--b1);padding:32px;max-width:1000px;margin-inline: auto;background:#fff;
    .faqsArea{width: 100%;@extend %fc;
        > *{padding-left: 32px;}
        &:not(:first-child){padding-top: 24px;}
        &:not(:last-child){border-bottom: 1px solid var(--b1);padding-bottom: 24px;}
        .hd{font-weight: bold;font-size: 18px;position: relative;cursor: pointer;line-height:1.3;
            &::before, &::after{position: absolute;content:"";background: var(--f1);}
            &::before{top:9px;left:0;width: 16px;height: 4px;}
            &::after{top:3px;left:6px;width: 4px;height: 16px;@extend %trans;}
        }
        &.active{
            .hd{
                &::after{opacity: 0;}
            }
        }
    }
    .content{color: var(--g3);margin-top: 12px;display: none;}
}
.note{text-align: center;display: flex;justify-content: center;font-size: 22px;color: var(--f1);margin-bottom: 16px;line-height: 1.5;}

.form{width: 100%;@extend %fc;row-gap:24px;
    .hd{width: 100%;font-weight: bold;font-size: 24px;color: var(--c1);text-align: center;}
    .field{width: 100%;@extend %fc;row-gap:8px;
        label{font-weight: bold;}
        input, textarea, select{width: 100%;border-radius: 4px;border: 1px solid var(--b1);outline: none;padding: 8px 12px;background: #fff;}
        textarea{resize: vertical;height: 129px;min-height: 129px;}
    }
}
.contactPage{
    .form{background: var(--g1);padding: 32px;border-radius: 4px;border:1px solid var(--b1);
        .btns{width: 100%;
            > *{width: 100%;justify-content:center;}
        }
    }
    .contactBox{width: 100%;@extend %fc;gap:32px 32px;
        > li{width: 100%;display: flex;list-style:none;
            .icon{width: 77px;height: 77px;background: var(--c1);color: #fff;@extend %center;flex-shrink: 0;border-radius: 4px;font-size: 24px;align-self: flex-start;}
            > a{width: 100%;display: flex;align-items: center;background: var(--g1);border-radius: 4px;padding: 32px;border:1px solid var(--b1);column-gap: 24px;cursor: pointer;}
            b{color: var(--f1);font-size: 20px;}
            span{width:100%;@extend %fc;color:var(--f2);font-size: 16px;}
        }
    }
}
.scrollTop, .callRight{position: fixed;right:8px;z-index: 999;background: var(--c1);color:#fff;@extend %trans;cursor: pointer;border-radius:4px;width: 36px;height: 36px;@extend %center;@extend %trans;@extend %userSelect;border:1px solid #fff;
    &.fixed{transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);}
    &:hover{background: var(--c2);}
}
.scrollTop{bottom:82px;transform: scale(0);-webkit-transform: scale(0);-moz-transform: scale(0);font-weight: bold;}
.callRight{bottom: 122px;}


.fixNum{width: 100%;background: var(--c2);color:#fff;position: sticky;left: 0;bottom: 0;z-index: 99999;padding: 12px 8px;font-size: 16px;font-weight: bold;text-decoration: none;line-height: 1.3;display: none;flex-direction: row;justify-content: center;text-align: center;
    &:hover, &:active, &:focus{background: var(--f1);}
    & > i{margin-right: 4px;}
}

@import "./res.scss";