doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Claim Free Health Subsidies
    link(rel="stylesheet", type="text/css", href="./css/style.css")
  body
    main
      .chatBox
        .container
          .fullWidth
            .blink
              img(src="./images/blink.gif")
              span (1) Agent Available
            section#sec1
              .fw
                p Hello 👋!
              .fw
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae, odio 😊
              .fw
                p Looking Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias!
              .fw
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sequi ipsa eligendi eum incidunt voluptatem!
              .fw
                p Looking Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias!
              .fw
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sequi ipsa eligendi eum incidunt voluptatem!
              .fw
                p Looking Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias!
              .fw
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sequi ipsa eligendi eum incidunt voluptatem!
              .fw
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  b Asperiores tenetur optio similique, quia quidem nesciunt officia 
                  | quaerat sit ex consectetur impedit porro dolorum, error reiciendis. 😃
              .fw.btns
                a(onclick="sections('sec2')") Yes
            section#sec2
              .fw
                p Lorem ipsum dolor sit.
              .fw
                p Lorem ipsum dolor sit amet consectetur adipisicing elit?
              .fw.btns
                a(onclick="sections('areYou')") Less than $100
                a(onclick="sections('areYou')") $100 - $200
                a.red(onclick="sections('sorry')") More than $200
            section#areYou
              .fw
                p Lorem ipsum dolor sit amet consectetur adipisicing elit nisi dolor?
              .fw.btns
                a(onclick="sections('awesome')") No
                a.red(onclick="sections('sorry')") Yes
            section#awesome
              .fw
                p 🎉 Awesome! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum officia ipsam sunt nulla explicabo dolore corrupti error perspiciatis accusamus, ipsa fuga eius obcaecati iusto dolores voluptas. Quisquam incidunt dolorem nostrum!
              .fw
                p Claim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolores?
              .fw.btns
                a(onclick="sections('claim')") Yes! Claim Now
            section#sorry
              .fw
                p Sorry, Lorem ipsum dolor sit amet consectetur adipisicing elit fugit sit.
            section#claim
              .fw
                p Great! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, numquam.
              .fw
                p Looking Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias!
              .fw
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sequi ipsa eligendi eum incidunt voluptatem!
              .fw
                p Looking Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias!
              .fw
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sequi ipsa eligendi eum incidunt voluptatem!
              .fw
                p Looking Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias!
              .fw
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sequi ipsa eligendi eum incidunt voluptatem!
              .fw
                p Looking Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias!
              .fw
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sequi ipsa eligendi eum incidunt voluptatem!
              .fw
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum laboriosam, aliquid placeat quod nisi natus illum corrupti nihil officia voluptate, in nesciunt quam iusto sint.
              .fw
                p
                  a.tel(href="tel:0000000000", target="_blank") 000-000-0000
            section.typing
              .fw
                span
                span
                span
    script(src="./js/script.js")
