section#about.section.about
    .container
        .row
            .col-lg-6
                .shadow.left
                    .aboutSlider.owl-carousel.owl-theme
                        .item
                            img(src='./images/about/about1.jpg' alt)
                        .item
                            img(src='./images/about/about2.jpg' alt)
                        .item
                            img(src='./images/about/about3.jpg' alt)
                    span About Us
            .col-lg-6
              .aboutText
                .exp.counter(data-value='40')
                  i 0
                  span Lorem ipsum dolor sit
                p.head Lorem ipsum dolor sit amet consectetur adipisicing elit vitae cum
                p Lorem ipsum dolor sit amet.
                    br
                    | Lorem ipsum dolor sit amet lorem ipsum dolor sit amet.
                    br
                    | Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum.
                    br
                    | Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, quasi dolores doloribus vero minima eaque culpa corporis nulla. Consequatur, quaerat voluptas at dolore velit voluptates voluptatem nemo harum dicta maxime quas eveniet voluptatem voluptas nostrum quis possimus veritatis ipsum natus libero incidunt est voluptatibus! Veritatis laborum, harum eaque assumenda provident saepe sed optio ad velit distinctio iste aperiam neque suscipit totam aut ullam omnis quia cum in explicabo dolor consequatur.
                .quotes
                  p
                    i.icon &#xa002;
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit similique eveniets.
                .btns
                  a.btn1(href='#') Read more...
            .col-lg-6
              .textSlider
                .tSlider.owl-carousel.owl-theme
                  .item
                    .txtArea
                      i.icon &#xa002;
                      .head Talents1,
                      p
                        span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, maiores molestias asperiores, quae sequi cupiditate nulla ad rem est commodi vitae tempora libero enim quidem magnam reprehenderit labore odio perferendis.
                        i +
                  .item
                    .txtArea
                      i.icon &#xa002;
                      .head Talents2,
                      p
                        span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, maiores molestias asperiores, quae sequi cupiditate nulla ad rem est commodi vitae tempora libero enim quidem magnam reprehenderit labore odio perferendis.
                        i +
                  .item
                    .txtArea
                      i.icon &#xa002;
                      .head Talents3,
                      p
                        span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, maiores molestias asperiores, quae sequi cupiditate nulla ad rem est commodi vitae tempora libero enim quidem magnam reprehenderit labore odio perferendis.
                        i +
            .col-lg-6
              .shadow.right
                .aboutSlider
                  img(src='./images/about/about1.jpg' alt)