section.section.gallery.bg
    .container
          hgroup
            h3 Image Gallery
          .galleryArea
            .labels
              label.active
                input(type='radio' name='filter' value='all' checked='checked')
                span View All
              label
                input(type='radio' name='filter' value='best')
                span Best
              label
                input(type='radio' name='filter' value='old')
                span Old
              label
                input(type='radio' name='filter' value='recent')
                span Recent
              label
                input(type='radio' name='filter' value='other')
                span other
            .imageGallery
              .item.all.best
                .content
                  img(alt data-src='./images/gallery/1.jpg')
              .item.all.old
                .content
                  img(alt data-src='./images/gallery/2.jpg')
              .item.all.recent
                .content
                  img(alt data-src='./images/gallery/3.jpg')
              .item.all.other
                .content
                  img(alt data-src='./images/gallery/4.jpg')
              .item.all.best
                .content
                  img(alt data-src='./images/gallery/5.jpg')
              .item.all.best
                .content
                  img(alt data-src='./images/gallery/1.jpg')
              .item.all.old
                .content
                  img(alt data-src='./images/gallery/2.jpg')
              .item.all.recent
                .content
                  img(alt data-src='./images/gallery/3.jpg')
              .item.all.other
                .content
                  img(alt data-src='./images/gallery/4.jpg')
              .item.all.best
                .content
                  img(alt data-src='./images/gallery/5.jpg')
              .item.all.best
                .content
                  img(alt data-src='./images/gallery/1.jpg')
              .item.all.old
                .content
                  img(alt data-src='./images/gallery/2.jpg')
              .item.all.recent
                .content
                  img(alt data-src='./images/gallery/3.jpg')
              .item.all.other
                .content
                  img(alt data-src='./images/gallery/4.jpg')
              .item.all.best
                .content
                  img(alt data-src='./images/gallery/5.jpg')
            .slidesShow
              img
              i.prev ←
              i.next →
              b ×
              .total_current
                span.current
                | ||
                span.total