section#interest.sectionB.interest
    .container
        hgroup
            h4 Lorem
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam sunt delectus illum exercitationem quae alias suscipit. Debitis cum quasi provident velit rem eum officiis libero molestias mollitia optio beatae at.
    img(src='./images/interest.jpg' alt)