section.section.press
    .container
          ul.slidesArea
            li
              img(data-src='https://placehold.co/600x400')
            li
              img(data-src='https://placehold.co/600x300')
            li
              img(data-src='https://placehold.co/600x200')
            li
              img(data-src='https://placehold.co/600x100')
            li
              img(data-src='https://placehold.co/600x500')
            li
              img(data-src='https://placehold.co/600x600')
            li
              img(data-src='https://placehold.co/600x700')
            li
              img(data-src='https://placehold.co/600x800')
            li
              img(data-src='https://placehold.co/600x900')
            li
              img(data-src='https://placehold.co/600x400')
            li
              img(data-src='https://placehold.co/600x300')
            li
              img(data-src='https://placehold.co/600x200')
            li
              img(data-src='https://placehold.co/600x100')
            li
              img(data-src='https://placehold.co/600x500')
            li
              img(data-src='https://placehold.co/600x600')
            li
              img(data-src='https://placehold.co/600x700')
            li
              img(data-src='https://placehold.co/600x800')
            li
              img(data-src='https://placehold.co/600x900')
            li
              img(data-src='https://placehold.co/600x400')
            li
              img(data-src='https://placehold.co/600x300')
            li
              img(data-src='https://placehold.co/600x200')
            li
              img(data-src='https://placehold.co/600x100')
            li
              img(data-src='https://placehold.co/600x500')
            li
              img(data-src='https://placehold.co/600x600')
            li
              img(data-src='https://placehold.co/600x700')
            li
              img(data-src='https://placehold.co/600x800')
            li
              img(data-src='https://placehold.co/600x900')
            li
              img(data-src='https://placehold.co/600x400')
            li
              img(data-src='https://placehold.co/600x300')
            li
              img(data-src='https://placehold.co/600x200')
            li
              img(data-src='https://placehold.co/600x100')
            li
              img(data-src='https://placehold.co/600x500')
            li
              img(data-src='https://placehold.co/600x600')
            li
              img(data-src='https://placehold.co/600x700')
            li
              img(data-src='https://placehold.co/600x800')
            li
              img(data-src='https://placehold.co/600x900')
            li
              img(data-src='https://placehold.co/600x400')
            li
              img(data-src='https://placehold.co/600x300')
            li
              img(data-src='https://placehold.co/600x200')
            li
              img(data-src='https://placehold.co/600x100')
            li
              img(data-src='https://placehold.co/600x500')
            li
              img(data-src='https://placehold.co/600x600')
            li
              img(data-src='https://placehold.co/600x700')
            li
              img(data-src='https://placehold.co/600x800')
            li
              img(data-src='https://placehold.co/600x900')
            li
              img(data-src='https://placehold.co/600x400')
            li
              img(data-src='https://placehold.co/600x300')
            li
              img(data-src='https://placehold.co/600x200')
            li
              img(data-src='https://placehold.co/600x100')
            li
              img(data-src='https://placehold.co/600x500')
            li
              img(data-src='https://placehold.co/600x600')
            li
              img(data-src='https://placehold.co/600x700')
            li
              img(data-src='https://placehold.co/600x800')
            li
              img(data-src='https://placehold.co/600x900')
          .slidesShow
            img
            i.prev ←
            i.next →
            b ×
            .total_current
              span.current
              | ||
              span.total