section.sectionB.products
    .container
        hgroup
            .head Lorem ipsum dolor sit amet
        .row
            .col-sm-6.col-lg-4
              .prtArea
                .img
                  img(src='./images/products/one.jpg' alt)
                .text
                  .head Lorem, ipsum dolor sit ameet lorem
                  .txt Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa Illum ducimus officia esse veniam
                  span
                    | Read more 
                    i.icon &#xa005;
            .col-sm-6.col-lg-4
              .prtArea
                .img
                  img(src='./images/products/one.jpg' alt)
                .text
                  .head Lorem, ipsum dolor sit ameet lorem
                  .txt Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa Illum ducimus officia esse veniam
                  span
                    | Read more 
                    i.icon &#xa005;
            .col-sm-6.col-lg-4
              .prtArea
                .img
                  img(src='./images/products/one.jpg' alt)
                .text
                  .head Lorem, ipsum dolor sit ameet lorem
                  .txt Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa Illum ducimus officia esse veniam
                  span
                    | Read more 
                    i.icon &#xa005;
            .col-sm-6.col-lg-4
              .prtArea
                .img
                  img(src='./images/products/one.jpg' alt)
                .text
                  .head Lorem, ipsum dolor sit ameet lorem
                  .txt
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa Illum ducimus officia esse veniam
                  span
                    | Read more 
                    i.icon &#xa005;
            .col-sm-6.col-lg-4
              .prtArea
                .img
                  img(src='./images/products/one.jpg' alt)
                .text
                  .head Lorem, ipsum dolor sit ameet lorem
                  .txt
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa Illum ducimus officia esse veniam
                  span
                    | Read more 
                    i.icon &#xa005;
            .col-sm-6.col-lg-4
              .prtArea
                .img
                  img(src='./images/products/one.jpg' alt)
                .text
                  .head Lorem, ipsum dolor sit ameet lorem
                  .txt
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa Illum ducimus officia esse veniam
                  span
                    | Read more 
                    i.icon &#xa005;