section#teatise.section.teatise
    .container
          hgroup
            h4 Lorem ipsum
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore officia praesentium sint, sed eos similique beatae accusamus.
              br
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus unde similique facilis fuga! Consequuntur, voluptates!
              br
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laborum voluptatem doloremque.
          .row
            .col-lg-6
              .imgArea.left
                img(src='./images/about/about1.jpg' alt)
            .col-lg-6
              h4.head Lorem ipsum dolor sit
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illo eius veniam distinctio consequatur. Veniam fuga enim reiciendis. Magni amet quam alias, voluptatum molestias doloremque minus excepturi
                | omnis aperiam laudantium voluptates quidem, at totam? Quis quisquam placeat reiciendis beatae, inventore nam. Soluta adipisci, exercitationem laboriosam illo fugit consequuntur esse quis.
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illo eius veniam distinctio consequatur. Veniam fuga enim reiciendis. Magni amet quam alias, voluptatum molestias doloremque minus excepturi
                | omnis aperiam laudantium voluptates quidem, at totam? Quis quisquam placeat reiciendis beatae, inventore nam. Soluta adipisci, exercitationem laboriosam illo fugit consequuntur esse quis.
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illo eius veniam distinctio consequatur. Veniam fuga enim reiciendis. Magni amet quam alias, voluptatum molestias doloremque minus excepturi
                | omnis aperiam laudantium voluptates quidem, at totam? Quis quisquam placeat reiciendis beatae, inventore nam. Soluta adipisci, exercitationem laboriosam illo fugit consequuntur esse quis.
              .imgs
                span
                  img(src='./images/products/one.jpg' alt)
                  i Lorem, ipsum dolor
                span
                  img(src='./images/products/one.jpg' alt)
                  i Lorem, ipsum dolor
                span
                  img(src='./images/products/one.jpg' alt)
                  i Lorem, ipsum dolor
            .col-lg-6
              h4.head Lorem ipsum dolor sit
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illo eius veniam distinctio consequatur. Veniam fuga enim reiciendis. Magni amet quam alias, voluptatum molestias doloremque minus excepturi omnis aperiam laudantium voluptates quidem, at totam? Quis quisquam placeat reiciendis beatae, inventore nam. Soluta adipisci, exercitationem laboriosam illo fugit consequuntur esse quis.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illo eius veniam distinctio consequatur. Veniam fuga enim reiciendis. Magni amet quam alias, voluptatum molestias doloremque minus excepturi omnis aperiam laudantium voluptates quidem, at totam? Quis quisquam placeat reiciendis beatae, inventore nam. Soluta adipisci, exercitationem laboriosam illo fugit consequuntur esse quis.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illo eius veniam distinctio consequatur. Veniam fuga enim reiciendis. Magni amet quam alias, voluptatum molestias doloremque minus excepturi omnis aperiam laudantium voluptates quidem, at totam? Quis quisquam placeat reiciendis beatae, inventore nam. Soluta adipisci, exercitationem laboriosam illo fugit consequuntur esse quis.
              .imgs
                span
                  img(src='./images/products/one.jpg' alt)
                  i Lorem, ipsum dolor
                span
                  img(src='./images/products/one.jpg' alt)
                  i Lorem, ipsum dolor
                span
                  img(src='./images/products/one.jpg' alt)
                  i Lorem, ipsum dolor
            .col-lg-6
              .imgArea.right
                img(src='./images/about/about1.jpg' alt)
            .col-md-6
              .imgBox
                img(src='./images/interest.jpg' alt)
                p.head Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  br
                  | Illo molestias alias quae, eos illum sapiente neque ipsam earum.
                  br
                  | Velit esse sequi dolorem adipisci laudantium molestias sed.
                a(href='#') Read More...
            .col-md-6
              .imgBox
                img(src='./images/interest.jpg' alt)
                p.head Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  br
                  | Illo molestias alias quae, eos illum sapiente neque ipsam earum.
                  br
                  | Velit esse sequi dolorem adipisci laudantium molestias sed.
                a(href='#') Read More...