*{padding:0;margin:0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
body{font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 1.5;}
main{width: 100%;display: flex;flex-direction: column;overflow: clip;
    > *{width: 100%;}
}

.carArea{border-bottom: 4px solid #066168;display: flex;align-items: flex-end;
    background:url(https://raw.githubusercontent.com/Enrique-UP/templates/refs/heads/main/cloudBannerAndCar/tree.png) no-repeat center right;height:220px;
    .trv-animated-car {width: 248px;height: 135px;animation: marquee-car 40s linear infinite;position: relative;}
    .car-main {height: 135px;position: absolute;left: 0px;bottom: 0px;}
    .tyre-1 {position: absolute;left: 12.9%;bottom: 0%;width: 15%;}
    .tyre-2 {position: absolute;right: 10.8%;bottom: 0%;width: 15%;}
    .spin-tyres {animation: spin 2400ms linear infinite;margin-bottom: -6px;width: 38px;}
}
@keyframes marquee-car {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
