@import "../css/grid.min.css";
@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot?54731107");
  src: url("../fonts/fontello.eot?54731107#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?54731107") format("woff"), url("../fonts/fontello.ttf?54731107") format("truetype"), url("../fonts/fontello.svg?54731107#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --c1:#011f3d;
  --c3:#00BB98;
  --c4:#0c67c4;
  --c5:#ffe701;
  --c6:#ff0001;
  --g1:#ccc;
  --g2:#eee;
  --backTrans:rgba(0,0,0,0.75);
  --backTransWhite:rgba(225,225,225,0.5);
}

.trans, a, body::before, header .navArea {
  transition: 0.3s cubic-bezier(0, 0, 1, 0.1);
  -webkit-transition: 0.3s cubic-bezier(0, 0, 1, 0.1);
  -moz-transition: 0.3s cubic-bezier(0, 0, 1, 0.1);
}

.fc, .gallery .galleryArea, .products .prtArea .text, .about .textSlider .txtArea, .slider .fw .txtArea {
  display: flex;
  flex-direction: column;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 4px;
  margin-bottom: 32px;
}
.btns.center {
  justify-content: center;
}
.btns a {
  border-radius: 4px;
  color: #fff;
  padding: 16px 32px;
  line-height: 1.1;
  font-weight: bold;
}
.btns a.btn1 {
  background: var(--c3);
}
.btns a.btn2 {
  background: var(--c4);
}
.btns a.btn3 {
  background: var(--c5);
}
.btns a:active, .btns a:hover, .btns a:focus {
  background: var(--c6);
}

header {
  padding-block: 10px;
}
header .container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
header .logo {
  display: flex;
  width: 180px;
}
header .menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
header .navArea {
  display: flex;
}
header .close {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 1;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: red;
  color: #fff;
}
header nav {
  display: flex;
}
header nav ul {
  display: flex;
}
header nav ul > li {
  display: flex;
  list-style: none;
}
header nav ul > li:not(:last-child) {
  margin-right: 32px;
}
header nav ul > li > a {
  color: #333;
}

footer .contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 32px;
}
footer .contact .icon {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 12px;
}
footer .contact a {
  color: #333;
  align-self: center;
  line-height: 1.3;
}
footer .copy {
  display: flex;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-block: 12px;
}

body {
  font-family: "Times New Roman", Times, serif;
}
body::before {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  content: "";
  background: var(--backTrans);
  z-index: 9999;
}
body.overflowHide {
  overflow: hidden;
}
body.overflowHide::before {
  left: 0;
}

hgroup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  row-gap: 12px;
  flex-direction: column;
}
hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  background: #ccc;
  padding: 8px 16px;
}
hgroup p {
  font-size: 20px;
}
hgroup .head {
  text-align: center;
  position: relative;
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}
hgroup .head::after {
  width: 100px;
  height: 2px;
  background: #ccc;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-inline: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: flex;
}

main {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
main > * {
  width: 100%;
  position: relative;
}
main > .bg {
  background: var(--g2);
}
main > *:not(.about) {
  display: none;
}
main > .slider {
  display: none !important;
}

.slider {
  background: #eee;
}
.slider .fw {
  display: flex;
  padding-top: 50px;
  background: url(../images/slider/sliderBack.png) no-repeat left bottom;
}
.slider .fw .txt {
  width: 60%;
  padding-inline: 90px 30px;
  display: flex;
  align-items: center;
}
.slider .fw .txtArea {
  background: #ccc;
  width: 500px;
  max-width: 100%;
  border-radius: 0 110px 110px 0;
  padding: 80px 36px;
  box-shadow: -30px 30px #ddd;
  margin-bottom: 30px;
}
.slider .fw .head {
  font-weight: bold;
  font-size: 48px;
}
.slider .fw .img {
  display: flex;
  justify-content: center;
  width: 40%;
}
.slider .fw .img img {
  width: 300px;
}
.slider .owl-dots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 10px;
}
.slider .owl-dots button {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 100%;
}
.slider .owl-dots button.active {
  background: #000;
}
.slider .owl-dots button:not(:last-child) {
  margin-bottom: 4px;
}

.about .shadow {
  position: relative;
  display: flex;
}
.about .shadow.left {
  box-shadow: -30px -30px #ccc;
  margin: 30px 0 0 30px;
}
.about .shadow.left > span {
  left: -30px;
}
.about .shadow.left::before {
  right: -8px;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
}
.about .shadow.right {
  box-shadow: 30px -30px #ccc;
  margin: 30px 30px 0 0;
}
.about .shadow.right .aboutSlider {
  width: 100%;
}
.about .shadow.right .aboutSlider > img {
  width: 100%;
}
.about .shadow.right::before {
  left: -8px;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
}
.about .shadow::before {
  position: absolute;
  bottom: -8px;
  content: "";
  width: 40px;
  height: 40px;
}
.about .shadow > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: brown;
  color: #fff;
  padding: 8px 12px;
  z-index: 1;
}
.about .owl-nav {
  display: flex;
  position: absolute;
  right: 8px;
  bottom: 8px;
}
.about .owl-nav button {
  background: var(--backTransWhite) !important;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
}
.about .owl-nav button:not(:last-child) {
  margin-right: 4px;
}
.about .textSlider {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.about .textSlider .tSlider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ccc;
  width: calc(100% + 50px);
}
.about .textSlider .txtArea {
  padding: 50px 80px 94px 80px;
}
.about .textSlider .txtArea > .icon {
  font-size: 60px;
  -webkit-text-stroke: 2px blue;
  -webkit-text-fill-color: transparent;
  text-stroke: 2px blue;
  text-fill-color: transparent;
  line-height: 1;
}
.about .textSlider .txtArea .head {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}
.about .textSlider .txtArea p i {
  display: inline-flex;
  background: red;
  color: #fff;
  font-weight: 800;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-style: normal;
}
.about .textSlider .owl-nav button {
  border: 1px solid #999 !important;
  color: #999 !important;
}

.interest img {
  width: 100%;
  margin-top: 40px;
}

.products .row {
  row-gap: 32px;
}
.products .prtArea {
  display: flex;
}
.products .prtArea .img {
  display: flex;
  width: 150px;
  align-items: center;
}
.products .prtArea .img img {
  width: 100%;
  object-fit: cover;
}
.products .prtArea .text {
  padding-left: 16px;
  width: 100%;
}
.products .prtArea .text .head {
  margin-bottom: 6px;
  line-height: 1.2;
}
.products .prtArea .text .txt {
  margin-bottom: 12px;
  font-size: 13px;
}
.products .prtArea .text span {
  font-size: 14px;
  text-transform: uppercase;
}

.gallery .galleryArea {
  width: 100%;
}
.gallery .labels {
  width: 100%;
  float: left;
  padding: 0 25%;
  margin: 0 0 26px;
  font-size: 0;
  text-align: center;
}
.gallery .labels label {
  display: inline-block;
  font-size: 14px;
  list-style: none;
  padding: 7px 15px;
  background: #eee;
  margin: 0 4px 4px;
  border-radius: 4px;
}
.gallery .labels label input {
  display: none;
}
.gallery .labels label.active {
  background: #ccc;
}
.gallery .imageGallery {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(4, 1fr);
}
.gallery .imageGallery .item {
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  padding: 8px;
  background: #fff;
}
.gallery .imageGallery .item .content {
  width: 100%;
  padding: 0;
  display: flex;
}
.gallery .imageGallery .item img {
  width: 100%;
}
.gallery .slidesShow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  display: none;
}
.gallery .slidesShow > img {
  max-width: 300px;
}
.gallery .slidesShow > b {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 999;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
.gallery .slidesShow > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  font-size: 40px;
  z-index: 999;
  color: #fff;
}
.gallery .slidesShow > i.prev {
  left: 20px;
}
.gallery .slidesShow > i.next {
  right: 20px;
}
.gallery .slidesShow.active {
  display: flex;
  flex-wrap: wrap;
}
.gallery .slidesShow .total_current {
  width: 100%;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.media hgroup ~ iframe {
  height: 500px;
  margin-bottom: 24px;
}
.media iframe {
  display: flex;
  border: none;
  outline: none;
  width: 100%;
}
.media .videoSlider .owl-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 8px;
}
.media .videoSlider .owl-nav button {
  background: #ccc;
  padding: 4px 20px !important;
  line-height: 1;
  font-size: 24px;
}
.media .videoSlider iframe {
  height: 250px;
}

.press .slidesArea {
  -moz-column-fill: balance;
  column-fill: balance;
  columns: 4;
  column-gap: 12px;
  padding: 0;
  margin: 0;
}
.press .slidesArea > li {
  break-inside: avoid-column;
  -moz-break-inside: avoid-column;
  -webkit-break-inside: avoid-column;
  list-style: none;
  border: 2px solid #000;
  margin-bottom: 12px;
}
.press .slidesArea > li img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.press .slidesShow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  display: none;
}
.press .slidesShow > img {
  width: 300px;
}
.press .slidesShow > b {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 999;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
.press .slidesShow > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  font-size: 40px;
  z-index: 999;
  color: #fff;
}
.press .slidesShow > i.prev {
  left: 20px;
}
.press .slidesShow > i.next {
  right: 20px;
}
.press .slidesShow.active {
  display: flex;
  flex-wrap: wrap;
}
.press .slidesShow .total_current {
  width: 100%;
  text-align: center;
  color: #fff;
}

@media (min-width: 992px) {
  body.overflowHide::before {
    left: -100% !important;
  }
}
@media (max-width: 991px) {
  /* ===== header ===== */
  header .menu {
    display: flex;
  }
  header .navArea {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    background: #fff;
    width: 100%;
    padding: 16px 10px;
    overflow-y: auto;
  }
  header nav {
    width: 100%;
    display: table;
  }
  header nav ul {
    flex-direction: column;
    display: table-cell;
    vertical-align: middle;
  }
  header nav ul > li {
    text-align: center;
    justify-content: center;
  }
  header nav ul > li > a {
    font-size: 20px;
  }
  header nav ul > li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }
  header .navArea.active {
    left: 0;
    width: 280px;
  }
  header .navArea.active ~ .close {
    display: flex;
  }
  /* ===== header ===== */
  /* ======================================================================================================= */
  /* ===== footer ===== */
  /* ===== footer ===== */
  /* ======================================================================================================= */
  /* ======================================================================================================= */
  /* ======================================================================================================= */
  /* ======================================================================================================= */
}
@media (min-width: 576px) and (max-width: 767px) {
  .slider .fw {
    padding: 16px 0 26px;
  }
  .slider .fw .txt {
    width: 70%;
    padding-inline: 10px;
  }
  .slider .fw .img {
    width: 30%;
    align-items: flex-end;
  }
  .slider .fw .txtArea {
    box-shadow: -10px 10px #ddd;
    padding: 16px 12px;
    border-radius: 0 36px 36px 0;
  }
  .slider .fw .head {
    font-size: 36px;
  }
  .gallery .imageGallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .press .slidesArea {
    columns: 3;
  }
  .media hgroup ~ iframe {
    height: 400px;
  }
  .media .videoSlider iframe {
    height: 200px;
  }
}
@media (max-width: 575px) {
  .slider .fw {
    padding: 16px 0 26px;
  }
  .slider .fw .txt {
    width: 70%;
    padding-inline: 10px;
  }
  .slider .fw .img {
    width: 30%;
    align-items: flex-end;
  }
  .slider .fw .txtArea {
    box-shadow: -10px 10px #ddd;
    padding: 16px 12px;
    border-radius: 0 36px 36px 0;
  }
  .slider .fw .head {
    font-size: 30px;
  }
  .slider .owl-dots {
    top: 16px;
    transform: translateY(0);
  }
  .interest img {
    margin-top: 24px;
  }
  .products .row {
    row-gap: 24px;
  }
  .gallery .imageGallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery .imageGallery {
    grid-gap: 8px;
  }
  .press .slidesArea {
    columns: 2;
    column-gap: 8px;
  }
  .press .slidesArea > li {
    margin-bottom: 8px;
  }
  hgroup {
    margin-bottom: 24px;
  }
  hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {
    font-size: 24px;
  }
  hgroup p {
    font-size: 18px;
  }
  .media hgroup ~ iframe {
    height: 280px;
    margin-bottom: 12px;
  }
  .media .videoSlider iframe {
    height: 180px;
  }
  .media .videoSlider .owl-nav {
    margin-top: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
