doctype html
html
  head
    title Webpage
    include ../include/head
  body
    main
      include ../include/header
      section.section.bg
        .container
          p 
            b PUG
          h4 npm install pug -g
            br
            | OR 
            br
            | npm install pug-cli -g
            br
            | pug -w ./assets/compile/pug/pages -o ./ -P
            br
            br
            hr
            br
          p 
            b SAAS
            br
            | npm run build-css
            br
            br
            hr
            br
          p
            br
            b Type Script
            br
            | npm install typescript -g
            br
            | Setting in tsconfig.json
            br
            | "rootDir": "./assets/compile/ts/script",
            br
            | "outDir": "./assets/compile/js",
          p "include": [
            br
            | "./assets/compile/ts/script"
            br
            | ]
            br
            | tsc.cmd --init
      section.section 
        .container
          i.icon &#xa001;
          i.icon &#xa002;
          i.icon &#xa003;
          i.icon &#xa004;
          i.icon &#xa005;
          i.icon &#xa006;
          i.icon &#xa007;
          i.icon &#xa008;
          i.icon &#xa009;
          i.icon &#xa010;
          i.icon &#xa011;
          i.icon &#xa012;
          i.icon &#xa013;
          i.icon &#xa014;
          i.icon &#xa015;
          i.icon &#xa016;
          i.icon &#xa017;
      include ../include/footer
    script(src="./assets/js/jquery.min.js")
    script(src="./assets/js/owl.carousel.min.js")
    script(src="./assets/js/wow.min.js")
    script(type="text/javascript" src="./assets/js/main.js")
    script(type="text/javascript" src="./assets/js/script.js")
    script(type="text/javascript").
      (function(){
        console.log("Lorem");
      });
