doctype html
html
  head
    title Webpage
    include ../include/head
  body
    main
      include ../include/header
      section.section.bg
        .container Index Page
      include ../include/footer
    include ../include/scripts
