.btns{display: flex;flex-wrap:wrap;gap:4px 4px;margin-bottom:32px;
    &.center{justify-content: center;}
    a{color:#fff;padding:16px 32px;line-height:1.1;font-weight:bold;
        &.btn1{background: var(--c3);}
        &.btn2{background: var(--c4);}
        &.btn3{background: var(--c5);}
        &:active, &:hover, &:focus{background: var(--c6);}
    }
}