doctype html
html
  head
    title About Us
    meta(name="description", content="")
    meta(name="keywords", content="")
    <?php include "./include/head.php"; ?>
  body
    main
      <?php include "./include/header.php"; ?>
      section.section
        .container
          hgroup.textCenter
            h1.wow.bounceInDown About Us
          .content
            h2 Lorem ipsum dolor sit amet consectetur adipisicing elit excepturi eum quas quisquam exercitationem ex hic magni ut repellat accusamus deserunt
            p Lorem ipsum dolor sit amet consectetur adipisicing elit facere eius atque sequi aliquam optio totam doloribus modi praesentium temporibus deserunt illo facilis quia nesciunt veritatis unde voluptate minima itaque rem.
            h3 Lorem ipsum dolor sit amet consectetur adipisicing elit excepturi eum quas quisquam exercitationem ex hic magni ut repellat accusamus deserunt
            p Lorem ipsum dolor sit amet consectetur adipisicing elit facere eius atque sequi aliquam optio totam doloribus modi praesentium temporibus deserunt illo facilis quia nesciunt veritatis unde voluptate minima itaque rem.
            ul 
                li Lorem ipsum dolor sit amet, consectetur 
                    a(href="#") facere eius atque sequi aliquam
                    |  adipisicing elit libero ullam porro quos et fugiat molestias velit ipsum voluptatem eos quae facere praesentium aliquam odit iste blanditiis dolores mollitia maiores sint iure reiciendis cupiditate necessitatibus ab dolore totam quod iste quo itaque voluptatibus earum doloremque accusantium excepturi quaerat quibusdam eligendi praesentium.
                li Lorem ipsum dolor sit amet, consectetur adipisicing elit libero ullam porro quos et fugiat molestias velit ipsum voluptatem eos quae facere praesentium aliquam odit iste blanditiis dolores mollitia maiores sint iure reiciendis cupiditate necessitatibus ab dolore totam quod iste quo itaque voluptatibus earum doloremque accusantium excepturi quaerat quibusdam eligendi praesentium.
                li Lorem ipsum dolor sit amet, consectetur adipisicing elit libero ullam porro quos et fugiat molestias velit ipsum voluptatem eos quae facere praesentium aliquam odit iste blanditiis dolores mollitia maiores sint iure reiciendis cupiditate necessitatibus ab dolore totam quod iste quo itaque voluptatibus earum doloremque accusantium excepturi quaerat quibusdam eligendi praesentium.
                li Lorem ipsum dolor sit amet, consectetur adipisicing elit libero ullam porro quos et fugiat molestias velit ipsum voluptatem eos quae facere praesentium aliquam odit iste blanditiis dolores mollitia maiores sint iure reiciendis cupiditate necessitatibus ab dolore totam quod iste quo itaque voluptatibus earum doloremque accusantium excepturi quaerat quibusdam eligendi praesentium.
                li Lorem ipsum dolor sit amet, consectetur adipisicing elit libero ullam porro quos et fugiat molestias velit ipsum voluptatem eos quae facere praesentium aliquam odit iste blanditiis dolores mollitia maiores sint iure reiciendis cupiditate necessitatibus ab dolore totam quod iste quo itaque voluptatibus earum doloremque accusantium excepturi quaerat quibusdam eligendi praesentium.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit facere eius atque sequi aliquam optio totam doloribus modi praesentium temporibus deserunt illo facilis quia nesciunt veritatis unde voluptate minima itaque rem.
            h3 Lorem ipsum dolor sit amet consectetur adipisicing elit excepturi eum quas quisquam exercitationem ex hic magni ut repellat accusamus deserunt
            p Lorem ipsum dolor sit amet consectetur adipisicing elit facere eius atque sequi aliquam optio totam doloribus modi praesentium temporibus deserunt illo facilis quia nesciunt veritatis unde voluptate minima itaque rem.
            ol 
                li
                    b Lorem ipsum dolor sit amet
                    |, consectetur adipisicing elit libero ullam porro quos et fugiat molestias velit ipsum voluptatem eos quae facere praesentium aliquam odit iste blanditiis dolores mollitia maiores sint iure reiciendis cupiditate necessitatibus ab dolore totam quod iste quo itaque voluptatibus earum doloremque accusantium excepturi quaerat quibusdam eligendi praesentium.
                li
                    b Lorem ipsum dolor sit amet
                    |, consectetur adipisicing elit libero ullam porro quos et fugiat molestias velit ipsum voluptatem eos quae facere praesentium aliquam odit iste blanditiis dolores mollitia maiores sint iure reiciendis cupiditate necessitatibus ab dolore totam quod iste quo itaque voluptatibus earum doloremque accusantium excepturi quaerat quibusdam eligendi praesentium.
                li
                    b Lorem ipsum dolor sit amet
                    |, consectetur adipisicing elit libero ullam porro quos et fugiat molestias velit ipsum voluptatem eos quae facere praesentium aliquam odit iste blanditiis dolores mollitia maiores sint iure reiciendis cupiditate necessitatibus ab dolore totam quod iste quo itaque voluptatibus earum doloremque accusantium excepturi quaerat quibusdam eligendi praesentium.
                li
                    b Lorem ipsum dolor sit amet
                    |, consectetur adipisicing elit libero ullam porro quos et fugiat molestias velit ipsum voluptatem eos quae facere praesentium aliquam odit iste blanditiis dolores mollitia maiores sint iure reiciendis cupiditate necessitatibus ab dolore totam quod iste quo itaque voluptatibus earum doloremque accusantium excepturi quaerat quibusdam eligendi praesentium.
                li
                    b Lorem ipsum dolor sit amet
                    |, consectetur adipisicing elit libero ullam porro quos et fugiat molestias velit ipsum voluptatem eos quae facere praesentium aliquam odit iste blanditiis dolores mollitia maiores sint iure reiciendis cupiditate necessitatibus ab dolore totam quod iste quo itaque voluptatibus earum doloremque accusantium excepturi quaerat quibusdam eligendi praesentium.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit 
                a(href="#") facere eius atque sequi aliquam
                |  optio totam doloribus modi praesentium temporibus deserunt illo facilis quia nesciunt veritatis unde voluptate minima itaque rem.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit facere eius atque 
                a(href="#") facere eius atque sequi aliquam
                |  sequi aliquam optio totam doloribus modi praesentium temporibus deserunt illo facilis quia nesciunt veritatis unde voluptate minima itaque rem.
      <?php include "./include/footer.php"; ?>
    <?php include "./include/scripts.php"; ?>