doctype html
html
  head
    title Webpage
    meta(name="description", content="")
    meta(name="keywords", content="")
    <?php include "./include/head.php"; ?>
  body
    main
      <?php include "./include/header.php"; ?>
      section.section.bg(style="min-height:200vh;")
        .container Index Page
      h1 This is a Heading
      p 
        a(href!="tel:<?php echo $numberTel; ?>" target="_blank") <?php echo $number; ?>
      <?php include "./include/footer.php"; ?>
    <?php include "./include/scripts.php"; ?>