doctype html
html
  head
    title Page Title
    meta(name="description", content="")
    meta(name="keywords", content="")
    <?php include "./include/head.php"; ?>
  body
    main
      <?php include "./include/header.php"; ?>
      h1 This is a Heading
      p 
        a(href!="tel:<?php echo $numberTel; ?>" target="_blank") <?php echo $number; ?>
      <?php include "./include/footer.php"; ?>
    <?php include "./include/scripts.php"; ?>