section.section.about 
    .container
        .row 
            .col-md-6
                .shadow.left
                    .aboutSlider.owl-carousel.owl-theme
                        .item
                            img(src="./images/about/about1.jpg", alt="")
                        .item
                            img(src="./images/about/about2.jpg", alt="")
                        .item
                            img(src="./images/about/about3.jpg", alt="")
                    span About Us
            .col-md-6 asdf
        .row 
            .col-md-6 
                .textSlider
                    .tSlider.owl-carousel.owl-theme
                        .item
                            .txtArea
                                i.icon &#xa002;
                                .head Talents1, 
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, maiores molestias asperiores, quae sequi cupiditate nulla ad rem est commodi vitae tempora libero enim quidem magnam reprehenderit labore odio perferendis.
                                    i +
                        .item
                            .txtArea
                                i.icon &#xa002;
                                .head Talents2, 
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, maiores molestias asperiores, quae sequi cupiditate nulla ad rem est commodi vitae tempora libero enim quidem magnam reprehenderit labore odio perferendis.
                                    i +
                        .item
                            .txtArea
                                i.icon &#xa002;
                                .head Talents3, 
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, maiores molestias asperiores, quae sequi cupiditate nulla ad rem est commodi vitae tempora libero enim quidem magnam reprehenderit labore odio perferendis.
                                    i +
            .col-md-6
                .shadow.right
                    .aboutSlider
                        img(src="./images/about/about1.jpg", alt="")