footer
    .container
        hgroup 
            h4 Contact Us
        .row 
            .col-sm-4
                .contact 
                    i.icon &#xa011;
                    a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing.
            .col-sm-4
                .contact 
                    i.icon &#xa010;
                    a(href="tel:+10000000000" target="_blank") +1-000-000-0000
            .col-sm-4
                .contact 
                    i.icon &#xa008;
                    a(href="mailto:demo@ymail.com" target="_blank") demo@ymail.com
        p.copy Copyright &copy;&nbsp;
            span 2024
            | . With all rights reserved.