section.section.media 
    .container 
        hgroup 
            h4 Lorem
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quo aliquid quisquam neque distinctio dignissimos quidem itaque culpa est facilis!
        iframe(src="https://www.youtube.com/embed/ajdRvxDWH4w?si=eZ6Lr2lhh4DG6a39" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
        .videoSlider.owl-carousel.owl-theme
            .item
                iframe(src="https://www.youtube.com/embed/ajdRvxDWH4w?si=eZ6Lr2lhh4DG6a39" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
            .item
                iframe(src="https://www.youtube.com/embed/ajdRvxDWH4w?si=eZ6Lr2lhh4DG6a39" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
            .item
                iframe(src="https://www.youtube.com/embed/ajdRvxDWH4w?si=eZ6Lr2lhh4DG6a39" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
            .item
                iframe(src="https://www.youtube.com/embed/ajdRvxDWH4w?si=eZ6Lr2lhh4DG6a39" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
            .item
                iframe(src="https://www.youtube.com/embed/ajdRvxDWH4w?si=eZ6Lr2lhh4DG6a39" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
            .item
                iframe(src="https://www.youtube.com/embed/ajdRvxDWH4w?si=eZ6Lr2lhh4DG6a39" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)