section.slider.owl-carousel.owl-theme
    .item
        .container
            .fw
                .txt
                    .txtArea
                        .head Talents, 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, maiores molestias asperiores, quae sequi cupiditate nulla ad rem est commodi vitae tempora libero enim quidem magnam reprehenderit labore odio perferendis.
                .img
                    img(src="./images/slider/slide1.jpg", alt="")
    .item
        .container
            .fw
                .txt
                    .txtArea
                        .head Talents, 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, maiores molestias asperiores, quae sequi cupiditate nulla ad rem est commodi vitae tempora libero enim quidem magnam reprehenderit labore odio perferendis.
                .img
                    img(src="./images/slider/slide1.jpg", alt="")