header
    .container
        .fw
            .logoArea.animated.bounceInLeft
                a.logo(href!="<?php echo $siteUrl; ?>")
                    img(src="./assets/images/logo.png", alt="")
            .navbar
                navbar.animated.bounceInDown
                    a.logoMob(href!="<?php echo $siteUrl; ?>")
                        img(src="./assets/images/logo.png", alt="")
                    menu
                        li
                            a(href!="<?php echo $siteUrl; ?>") Home
                        li
                            a(href="javascript:;") Lorem ipsum
                            menu
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit
                        li
                            a(href="javascript:;") Lorem ipsum
                            menu
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit
                        li
                            a(href="javascript:;") Lorem ipsum
                            menu
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit
                        li
                            a(href="#") Lorem ipsum
                        li
                            a(href="#") Lorem ipsum
                        li
                            a(href="#") Lorem ipsum
                i.icon.close &#xa011;
            .callMenu.animated.bounceInRight 
                a.callBtn(href!="tel:<?php echo $numberTel; ?>" target="_blank")
                    i.icon &#xa041;
                    span <?php echo $number; ?>
                i.icon.menu &#xa005;