header
    .container
        .fw
            .logoArea
                a.logo(href="/")
                    img(src="./assets/images/logo.png", alt="")
            .navbar
                navbar
                    a.logoMob(href="/")
                        img(src="./assets/images/logo.png", alt="")
                    menu
                        li
                            a(href="/") Home
                        li
                            a(href="#") Lorem ipsum
                            menu
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit
                        li
                            a(href="#") Lorem ipsum
                            menu
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit
                        li
                            a(href="#") Lorem ipsum
                            menu
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit ameet lorem ipsum dolor
                                li
                                    a(href="#") Lorem ipsum dolor sit
                        li
                            a(href="#") Lorem ipsum
                        li
                            a(href="#") Lorem ipsum
                        li
                            a(href="#") Lorem ipsum
                i.icon.close &#xa011;
            .callMenu 
                a.callBtn(href!="tel:<?php echo $numberTel; ?>" target="_blank")
                    i.icon &#xa001;
                    span <?php echo $number; ?>
                i.icon.menu &#xa005;