i.icon.scrollTop &#xa022;
script(src="./assets/js/jquery.min.js")
//- script(src="./assets/js/owl.carousel.min.js")
script(src="./assets/js/wow.min.js")
script(src="./assets/js/main.js")
//- script(src="./assets/js/script.js")