i.icon.scrollTop &#xa022;
a(href!="tel:<?php echo $numberTel; ?>" target="_blank").fixNum
    i.icon &#xa001;
    | Call Us <?php echo $number; ?>
script(src="./assets/js/jquery.min.js")
//- script(src="./assets/js/owl.carousel.min.js")
script(src="./assets/js/wow.min.js")
script(type="text/javascript" src="./assets/js/main.js")
//- script(type="text/javascript" src="./assets/js/script.js")
script(type="text/javascript").
    (function(){
    	console.log("Lorem");
    });