a.icon.callRight(href!="tel:<?php echo $numberTel; ?>" target="_blank") &#xa041;
i.icon.scrollTop &#xa022;
script(src="./assets/js/jquery.min.js")
//- script(src="./assets/js/owl.carousel.min.js")
script(src="./assets/js/wow.min.js")
script(type="text/javascript" src="./assets/js/main.js")
//- script(type="text/javascript" src="./assets/js/script.js")
script(type="text/javascript").
    (function(){
    	console.log("Lorem");
    });