doctype html
html
    head
      include ../include/variables
    body
      include ./nav
      h1 use this webpack <br>
        | pug -w ./ -o ./ -P
        br
        | pug -w ./pug/pages -o ./ -P
        br
        | For watching only pages folder files
      div Hi
      p Hello
      p #{domain} #{websiteName}
      include ../include/section