doctype html
html(lang="en")
    head 
        title Portfolio Website | Home
        include ./include/meta
    body
        main
            include ./include/header
            //- section Banner
            include ./include/footer            
        include ./include/scripts