footer.section 
    .container
        .logoArea 
            a(href="index.html")
                img(src="./images/logoWhite.png", alt="")
        .row 
            .col-sm-6.col-lg-12.col-xl-3
                .head Lorem ipsum
                .text 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum doloremque neque vel, molestias officiis, laboriosam doloribus architecto quas sed animi itaque dolorem accusantium rerum sit quod inventore eveniet labore quam ad illo delectus voluptatibus ut. Rem numquam modi, quis quas quos sed? Sit explicabo repellat molestias.
                    p
                        b Id nesciunt reiciendis
                        | , amet! Quibusdam ab tenetur autem nihil ratione illo. Eum, voluptatum ratione voluptatum ratione voluptatum ratione voluptatum ratione dicta vel accusamus, esse.
            .col-sm-6.col-lg-4.col-xl-3
                .head Lorem ipsum
                .links 
                    a(href="#") Lorem ipsum
                    a(href="#") Lorem
                    a(href="#") Lorem ipsum dolor
                    a(href="#") Lorem ipsum
                    a(href="#") Lorem
                    a(href="#") Lorem ipsum dolor
                    a(href="#") Lorem ipsum
                    a(href="#") Lorem
                    a(href="#") Lorem ipsum dolor
                    a(href="#") Lorem ipsum
                    a(href="#") Lorem
                    a(href="#") Lorem ipsum dolor
                    a(href="#") Lorem ipsum
                    a(href="#") Lorem
            .col-sm-6.col-lg-4.col-xl-3
                .head Lorem ipsum
                .social.posts 
                    a(href="#" target="_blank")
                        span.date 00 Jan
                            b 0000
                        span.txt Lorem ipsum dolor sit amit lorem ipsum dolor sit amit
                    a(href="#" target="_blank")
                        span.date 00 Jan
                            b 0000
                        span.txt Lorem ipsum dolor sit amit lorem ipsum dolor sit amit
                    a(href="#" target="_blank")
                        span.date 00 Jan
                            b 0000
                        span.txt Lorem ipsum dolor sit amit lorem ipsum dolor sit amit
                    a(href="#" target="_blank")
                        span.date 00 Jan
                            b 0000
                        span.txt Lorem ipsum dolor sit amit lorem ipsum dolor sit amit
                    a(href="#" target="_blank")
                        span.date 00 Jan
                            b 0000
                        span.txt Lorem ipsum dolor sit amit lorem ipsum dolor sit amit
            .col-sm-6.col-lg-4.col-xl-3
                .row 
                    .col-xl-12
                        .head Lorem ipsum
                        .social.contact
                            a(href="#" target="_blank")
                                span.date 
                                    b.icon &#xe001;
                                    i Phone No.
                                span.txt +1-000-000-0000
                            a(href="#" target="_blank")
                                span.date 
                                    b.icon &#xe001;
                                    i Email ID.
                                span.txt abcdefghijklmnop@gmail.com
                            a(href="#" target="_blank")
                                span.date 
                                    b.icon &#xe031;
                                    i Timing
                                span.txt Lorem ipsum dolor sit amit lorem ipsum dolor sit amit, USA.
                    .col-xl-12
                        .head Lorem ipsum
                        .follow 
                            a.icon(href="#" target="_blank") &#xe021;
                            a.icon(href="#" target="_blank") &#xe022;
                            a.icon(href="#" target="_blank") &#xe023;
                            a.icon(href="#" target="_blank") &#xe024;
                            a.icon.fwt(href="#" target="_blank") &#xe025;
                            a.icon(href="#" target="_blank") &#xe026;
.copyright
    .container 
        p.fw Copyright &copy; 
            span 2024
            | . With all rights reserved.