header 
    .top 
        .container
            .fw 
                a(href="#") 
                    i.icon &#xe002;
                    b Email ID:
                    span demo@gmail.com
                a(href="#") 
                    i.icon &#xe001;
                    b Phone No:
                    span +1-000-000-0000
    .middle 
        .container 
            .fw 
                .logoArea 
                    a(href="index.html")
                        img(src="./images/logo.png", alt="")
                .searchBarArea
                    .searchBar 
                        a.close.icon(href="#") &#xe039;
                        input(type="text" placeholder="Search here...")
                        a.link.icon(href="#") &#xe030;
                        .dropDown
                            a(href="#") Lorem ipsum dolor sit amet
                            a(href="#") Lorem ipsum
                            a(href="#") Lorem ipsum dolor
                            a(href="#") Lorem
                            a(href="#") Lorem ipsum dolor sit
                            a(href="#") Lorem ipsum dolor sit amet
                            a(href="#") Lorem ipsum
                            a(href="#") Lorem ipsum dolor
                            a(href="#") Lorem
                            a(href="#") Lorem ipsum dolor sit
                            a(href="#") Lorem ipsum dolor sit amet
                            a(href="#") Lorem ipsum
                            a(href="#") Lorem ipsum dolor
                            a(href="#") Lorem
                            a(href="#") Lorem ipsum dolor sit
                ul.follow 
                    li Follow Us
                    li 
                        span 
                            a.icon(href="#" target="_blank") &#xe021;
                            a.icon(href="#" target="_blank") &#xe022;
                            a.icon(href="#" target="_blank") &#xe023;
                        span 
                            a.icon(href="#" target="_blank") &#xe024;
                            a.icon.fwt(href="#" target="_blank") &#xe025;
                            a.icon(href="#" target="_blank") &#xe026;
                .contact 
                    a(href="#").icon &#xe030;
                    a(href="#").icon &#xe002;
                    a(href="#").icon &#xe001;
    .bottom 
        .container
            .fw
                .menuArea 
                    span.txt Menu 
                    span.icon(href="javascript:;") &#xe003;
                .navigationBar
                    nav 
                        ul 
                            li 
                                a(href="index.html").active
                                    i.icon &#xe042;
                                    b Home
                            li 
                                a(href="#")
                                    i.icon &#xe015;
                                    b About Us
                            li 
                                a(href="#")
                                    i.icon &#xe008;
                                    b Image Gallery
                            li 
                                a(href="#")
                                    i.icon &#xe007;
                                    b Services 
                            li.menu 
                                a.icon(href="javascript:;") &#xe003;
                                .subMenu 
                                    a(href="index.html")
                                        i.icon &#xe042;
                                        b Home
                                    a(href="index.html")
                                        i.icon &#xe042;
                                        b Home
                                    a(href="index.html")
                                        i.icon &#xe042;
                                        b Home
                                    a(href="index.html")
                                        i.icon &#xe042;
                                        b Home
section(style="background:#333;min-height:2000px;")
script.
    function addRemove(){
        if (window.scrollY >= 40) document.querySelector("header").classList.add("active");
        else document.querySelector("header").classList.remove("active");
    }
    window.addEventListener("load", addRemove);
    window.addEventListener("scroll", addRemove);
    window.addEventListener("resize", addRemove);