footer.home
    .container
        .row
            .col-sm-6
                a.logo(href='index.html')
                    img(src='./images/logo1.png' alt='Logo')
            .col-sm-6
                .contact
                    a Contact:
                    a(href='tel:+10000000000' target='_blank') +1-000-000-0000
                    a(href='mailto:demo@ymail.com' target='_blank') demo@ymail.com
    .container 
        .copyright
            .copy
                | Copyright © 
                span 2024
                | . With all rights reserved.
    