header
    .headerTop
        .container
            a.logo(href='index.html')
                img(src='./images/logo.png' alt='Logo')
            a.email(href="mailto:demodemodemodemo@gmail.com" target="_blank") demodemodemodemo@gmail.com
            .icon.menu &#xa001;
    .headerBottom 
        .container
            .navArea
                nav
                    ul
                        li
                            a.active(href="index.html") Home
                        li 
                            a(href="about.html") Home Hm
                        li 
                            a(href="business.html") Homehome
                        li 
                            a(href="photograph.html") Homehomeme & Homes
                        li 
                            a(href="singing.html") Hommess
                        li 
                            a(href="philanthropy.html") Homeshomesme
                        li 
                            a(href="sports.html") Homess
                        li 
                            a(href="inventor.html") Homessme
                        li 
                            a(href="media.html") Homes
                        li 
                            a(href="shoes.html") Homes
            .icon.close &#xa015;