*{padding:0;margin:0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
body{font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 1.5;}
main{width: 100%;display: flex;flex-direction: column;overflow: clip;
    > *{width: 100%;}
}

.banner2{position: relative;display:flex;flex-direction:column;overflow: hidden;
    > *{width: 100%;}
    > .img{height: 100vh;object-fit: cover;}
    .c5{position: absolute;top:180px;width: auto;left:-150px;animation: c5 30s linear infinite;height: 190px;}
    .plane{position: absolute;width: 50%;right: 0px;top: 0px;bottom: 0px;
        .pArea{margin-top: 240px;animation: slide-right 50s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;display:flex;max-width:500px;
            > img{animation: slide-top-fast 1.5s ease-in-out infinite alternate-reverse both;height: 190px;}
        }
    }
    .hBaloon1{position: absolute;right: 0;top: 10%;animation: slide-top1 8s linear infinite alternate-reverse;width: auto;
        > img{width: 150px;}
    }
    .hBaloon2{position: absolute;right: 100px;top: 50%;animation: slide-top2 50s linear infinite alternate-reverse;width:auto;
        > img{width: 84px;}
    }
}
@keyframes slide-top1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-100%) scale(0.2);
  }
  100% {
    transform: translateX(50%) scale(1);
  }
}
@keyframes slide-top-fast {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes c5 {
    100%{left:100%;}
}

@media (min-width:768px) and (max-width:1199px){
    .banner2 .c5{animation-duration: 12s;}
}
@media (max-width:767px){
    .banner2 .c5{animation-duration: 12s;}
}