*{padding:0;margin:0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
body{font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 1.5;}
main{width: 100%;display: flex;flex-direction: column;overflow: clip;
    > *{width: 100%;}
}

.banner1{position: relative;display:flex;flex-direction:column;overflow: hidden;
    > *{width: 100%;}
    > .img{height: 100vh;object-fit: cover;}
    .rain {position: absolute;top:-120px;left: 0;height: 90%;display:flex;justify-content:space-around;
        .drop{width: 6px;height: 100%;pointer-events: none;display:flex;position: relative;
            .stem{width: 100%;height: 120px;border-radius: 0px 0px 20px 20px;background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));animation: stem 0.5s linear infinite;position: absolute;top:0;left:0;
            }
        }
    }
    .c1, .c2{position: absolute;}
    .c1{top:10px;width: auto;left:-200px;animation: c1 30s linear infinite;}
    .c2{top:180px;width: auto;left:-150px;animation: c2 60s linear infinite;}
}
@keyframes c1 {
    100%{left:100%;}
}
@keyframes c2 {
    100%{left:100%;}
}
@keyframes stem {
    90%{opacity: 1;}
    100%{top:100%;opacity: 0;}
}

@media (min-width:768px) and (max-width:1199px){
    .banner1 .c1{animation-duration: 12s;}
    .banner1 .c2{animation-duration: 24s;}
}
@media (max-width:767px){
    .banner1 .c1{animation-duration: 7.5s;}
    .banner1 .c2{animation-duration: 15s;}
}